<% content_for :scripts do %>
<script src="/js/jqModal.js"></script>
<link rel="stylesheet" href="/css/jqModal.css">

<script>
  $(function() {

    pagehub.confirm = function(msg, heading, callback) {

      var accept_dialogue = function() {
        console.log($(this));
        if($(this).attr("id") == 'confirm_accepted') {
          if (typeof callback == "string") {
            window.location.href = callback;
          } else {
            callback();
          }
        }

        $('#confirm').jqmHide();

        return false;
      }

      $('#confirm')
        .jqmShow()
        .find('h1')
        .html(heading)
        .end()
        .find('p.jqmConfirmMsg')
        .html(msg)
        .end()
        .find(':submit:visible')
        .unbind('click')
        .click(accept_dialogue);

      $("#confirm form").submit(function(e) {
        e.preventDefault();
        $("#confirm_accepted").click();
        return false;
      });

      // $("#confirm").find(':submit#confirm_accepted').focus();
      $("#confirm").find('input[type=text]:first').focus();
    }

    $('#confirm').jqm({overlay: 88, modal: true, trigger: false});
    
    $('a.confirm').click(function(e) { 
      var a = $(this);
      pagehub.confirm(a.attr("data-confirmation"), a.attr("data-confirmation-heading"), function() {
        var method = dynamism.utility.lookup_method(a.attr("data-confirmation-cb"));
        if (method) {
          return method(a);
        } else {
          console.log("ERROR: invalid confirmation callback: " + a.attr("data-confirmation-cb"));
        }
      });

      return false;
    });

  });
</script>
<% end %>

<!-- Confirm Dialog -->
<div class="jqmConfirm" id="confirm">
  <div id="ex3b" class="jqmConfirmWindow">
    <div class="jqmConfirmTitle clearfix">
      <h1>Confirm your action</h1>
      <a href="#" class="jqmClose"><em>X</em></a>
    </div>
    
    <div class="jqmConfirmContent">
    <p class="jqmConfirmMsg"></p>
    </div>
    
    <input type="submit" id="confirm_rejected" value="Cancel" />
    <input type="submit" id="confirm_accepted" value="Yes" />
    
  </div>
</div>