<% content_for :js do %>
<% if settings.development? %>
  <script src="/js/ugly/jqModal.js"></script>
<% end %>

<script>
  $(function() {

    pagehub.confirm = function(msg, heading, callback) {
      var accept_dialogue = function() {
        if($(this).attr("id") == 'confirm_accepted') {
          if (typeof callback == "string") {
            window.location.href = callback;
          } else {
            try { 
              callback();
            } catch (script_error) {
              ui.report_error(script_error);
            }
          }
        }

        $('#confirm').jqmHide();

        return false;
      }

      $('#confirm')
        .jqmShow()
        .find('h1')
        .html(heading || "Confirmation")
        .end()
        .find('p.jqmConfirmMsg')
        .html(msg)
        .end()
        .find(':submit:visible')
        .unbind('click')
        .click(accept_dialogue);

      $("#confirm form").submit(function(e) {
        e.preventDefault();
        $("#confirm_accepted").click();
        return false;
      });

      // $("#confirm").find(':submit#confirm_accepted').focus();
      $("#confirm").find('input[type=text]:first').focus();
    }

    $('#confirm').jqm({overlay: 88, modal: true, trigger: false});
    
    $('a.confirm').click(function(e) { 
      var a = $(this);
      try {
        var msg = a.attr("data-confirm") || a.next("[data-confirm]").html();
        var heading = a.attr("data-confirm-heading") || "Confirmation";
        var accept_label = a.attr("data-confirm-accept") || "Yes";
        $("div#confirm #confirm_accepted").attr("value", accept_label);
        
        if (!a.attr("data-confirm-cb")) {
          pagehub.confirm(msg, heading, a.attr("href"));
        } else {
          
          pagehub.confirm(msg, heading, function() {
            var method = dynamism.utility.lookup_method(a.attr("data-confirm-cb"));
            if (method) {
              return method(a);
            } else {
              console.log("ERROR: invalid confirmation callback: " + a.attr("data-confirm-cb"));
            }
          });
        }
      } catch (e) {
        console.log("ERROR: something bad happened while showing the cnfm dialog: ")
        console.log(e);

        $("#confirm").jqmHide();
        ui.report_error(e)
      }

      return false;
    });

  });
</script>
<% end %>

<!-- Confirm Dialog -->
<div class="jqmConfirm" id="confirm">
  <div id="ex3b" class="jqmConfirmWindow">
    <div class="jqmConfirmTitle">
      <h1>Confirm your action</h1>
    </div>
    
    <div class="jqmConfirmContent">
    <p class="jqmConfirmMsg"></p>
    </div>
    
    <input type="submit" id="confirm_rejected" class="bad" value="Cancel" />
    <input type="submit" id="confirm_accepted" class="good" value="Yes" />
    
  </div>
</div>