<ol class="listlike">
  <!-- <li><a href="/pages/public">Public pages</a></li> -->
  <li><a href="/settings"><i class="icon-wrench"></i> Settings</a></li>
  <li><a href="/sessions/destroy"><i class="icon-off"></i> Sign out</a></li>
</ol>