<ol <%= 'class="listlike"' unless @legacy %> <%= 'style="display: block"' if @legacy %>>
  <!-- <li><a href="/pages/public">Public pages</a></li> -->
  <li><a href="/settings">Settings</a></li>
  <li><a href="/sessions/destroy">Sign out</a></li>
</ol>