<ol <%= 'class="listlike"' unless @legacy %> <%= 'style="display: block"' if @legacy %>>
  <li><a target="_blank" href="http://www.pagehub.org/pagehub/news">PageHub News</a></li>
  <li><a target="_blank" href="http://www.pagehub.org/pagehub/tips-tricks">PageHub Tips &amp; Tricks</a></li>
  <li><a target="_blank" href="http://daringfireball.net/projects/markdown/">Markdown Reference</a></li>
  <li><a target="_blank" href="http://www.pagehub.org/pagehub/markdown-cheatsheet">Markdown Tutorial</a></li>
</ol>
