<!-- <div id="indicator"></div> -->
<!-- <div id="drag_indicator"></div> -->
<div id="pages">

  <button data-dyn-hook='click, ui.collapse'
          data-dyn-inject='@data-folder, folders.id'
          data-collapse
          id="collapser" hidden="hidden">&minus;</button>

  <%= partial "/shared/_actions" %>

  <!-- the scroller is used to enforce a max-height and inject scrollbars when needed -->
  <div class="scroller">

    <div hidden="hidden" class="dialog" id="resource_editor">
      <input type="text" name="title" />
      <div hidden="hidden" id="parent_folder_selection">
        <select name="folder_id">
          <!-- <option value="folder_0" selected="selected">None</option> -->
        </select>
      </div>
      <div class="actions">
        <button class="thin" id="cancel_title_editing">Cancel</button>
        <button class="thin" id="update_title">Update</button>
      </div>
    </div>

    <ul id="browser" class="browser">
    </ul>
  </div>
</div><!--

--><div id="editor_container"><!--

--><%= partial "/shared/_resource_actions" %><textarea id="page_editor"><%= editor_content %></textarea></div>