<div class="resizable-content">
  <div id="pages">

    <%= partial "/shared/_actions" %>

    <!-- the scroller is used to enforce a max-height and inject scrollbars when needed -->
    <div class="scroller">
      <ul id="browser" class="browser">
      </ul>
    </div>
  </div><!--

  --><div id="editor_container"><!--

  --><%= partial "/shared/_resource_actions" %><textarea id="page_editor"><%= editor_content %></textarea></div>
</div>