<div id="indicator"></div>
<div id="drag_indicator"></div>
<div id="pages">

  <button data-dyn-hook='click, ui.collapse'
          data-dyn-inject='@data-folder, folders.id'
          data-collapse
          id="collapser" hidden="hidden">&minus;</button>

  <%= erb :"/shared/_actions" %>

  <!-- the scroller is used to enforce a max-height and inject scrollbars when needed -->
  <div class="scroller">

    <div hidden="hidden" class="dialog" id="resource_editor">
      <input type="text" name="title" />
      <div hidden="hidden" id="parent_folder_selection">
        <select name="folder_id">
          <option value="folder_0" selected="selected">None</option>
        </select>
      </div>
      <div class="actions">
        <button class="thin" id="cancel_title_editing">Cancel</button>
        <button class="thin" id="update_title">Update</button>
      </div>
    </div>

    <ul id="page_listing" data-dyn-hook="post-injection, ui.folders.arrange">

      <li data-dyn-entity="folder"
          data-dyn-spawn-on="folders"
          data-dyn-hook="post-injection, ui.folders.on_injection,
                         removal, ui.folders.on_removal"
          data-dyn-inject="@id, folders.id, @data-parent, folders.parent"
          data-collapsible
          id="folder_%id"
          class="folder">

          <span data-dyn-inject="@text, folders.title"
                data-dyn-hook="click, ui.collapse, hover, ui.folders.highlight"
                class="folder_title"
                draggable="true">
                %title
          </span>

          <button data-dyn-hook="click, ui.folders.edit_title" class="edit_folder icon edit_folder"></button>
          <button data-dyn-action="remove">X</button>

          <a data-action="move"
             data-dyn-hook="click, ui.pages.move"
             href="/folders/%id/add/x"
             data-folder="%id"
             data-dyn-inject="@data-folder, folders.id,
                              @text,        folders.title,
                              @href,        folders.id">%title</a>

          <ol>
            <li>This folder is empty.</li>
            <li data-dyn-entity="folder[-1][pages]"
                data-dyn-spawn-on="folders.pages"
                draggable="true">
                <a href="/pages/%id"
                   id="page_%id"
                   data-dyn-inject="@text, folders.pages.title,
                                    @href, folders.pages.id,
                                    @id, folders.pages.id"
                   data-dyn-hook="click, ui.pages.load">%title</a></li>
          </ol>
      </li>
    </ul>
  </div>
</div><!--

--><div id="editor_container"><!--

--><%= erb :"/shared/_resource_actions" %><textarea id="page_editor"><%= editor_content %></textarea></div>