<% content_for :deferred_js do %>
<script>
// pagehub_hooks.push(function(){ 
//   require([ 'jquery', 'pagehub', 'shortcut' ], function($, ui, shortcut) {
//     $(function() {

//       /* ------ -------- *
//        * Action bindings *
//        * ------ -------- */
//       ui.on_action("increase_height", function() {
//         var step = parseInt($(".CodeMirror").css("line-height"));
//         $(".CodeMirror-scroll").css("min-height",
//           (parseInt($(".CodeMirror-scroll").css("min-height")) + step) +"px");
//         ui.editor.refresh();
//       });
//       ui.on_action("decrease_height", function() {
//         var step = parseInt($(".CodeMirror").css("line-height"));
//         $(".CodeMirror-scroll").css("min-height",
//           (parseInt($(".CodeMirror-scroll").css("min-height")) - step) +"px");
//         ui.editor.refresh();
//       });
//       ui.on_action("refresh_editor", function() {
//         ui.editor.refresh();
//       });

//       /* ----------- *
//        * Keybindings *
//        * ----------- */
//       shortcut.add("ctrl+alt+e", function() { ui.editor.focus(); })
//       shortcut.add("ctrl+alt+r", function() { ui.editor.refresh(); })
//     });
//   })
// });
</script>
<% end %>

<div class="" id="page_actions">
  <a href="#" class="icon save_page" title="Saves the content of this page (Ctrl+Alt+S)" id="save_content">Save</a>

  <a target="PageHub - Preview"
     class="icon pretty_page"
     title="View the current page in prettified HTML mode in a new tab (Ctrl+Alt+V)"
     href=""
     id="preview">Pretty Version</a>

  <a href="#" id="edit_page" class="icon edit_page" title="Modify the page properties">Edit</a>
  <a href="#" id="destroy_page" class="confirm icon delete_page" title="Delete the page (Ctrl+Alt+D)">Delete</a>

  <a id="history" target="PageHub" class="icon history" title="View the history of this page">Revisions [0]</a>

  <a class="listlike icon move_page" data-placement="top" title="Move this page to a different folder">Move</a>
  <ol class="listlike" id="movement_listing">
  </ol>

  <a class="listlike icon editor_settings" data-placement="top" title="A few editor actions">Editor Actions</a>
  <ol class="listlike">
    <li class="sticky"><a href="#" data-placement="right" title="Increase the height of the editor" id="increase_height">Grow</a></li>
    <li class="sticky"><a href="#" data-placement="right" title="Decrease the height of the editor" id="decrease_height">Shrink</a></li>
    <li class="sticky"><a href="#" data-placement="right" title="Refresh the editor if it's stuck or acting funny (Ctrl+Alt+R)" id="refresh_editor">Refresh</a></li>
  </ol>
</div>