<!-- <div id="skin_switcher">
  <a href="/settings/skin/dark" title="Switch to Dark skin" id="switch_skin_dark">dark</a>
  <a href="/settings/skin/light" title="Switch to Light skin" id="switch_skin_light">light</a>
</div> -->