<%= partial "spaces/settings/_nav" %>

<% content_for :deferred_js do %>
  <script>
    pagehub_hooks.push(
      require([ 'models/space', 'views/spaces/settings/index' ], function(Space, SettingsView) {
        var space = new Space(<%= rabl :"/spaces/show", object: @space %>.space);
        s = new SettingsView({ space: space });
      })
    );
  </script>
<% end %>

<div id="settings">
  <%= partial :"spaces/settings/general" %>
</div>