<% content_for(:title) { "Membership Settings | #{@space.title} | PageHub" } %>
<% content_for(:section) { %> memberships <% } %>

<%= partial "spaces/settings/_nav" %>

<% content_for :deferred_js do %>
  <script>
    pagehub_hooks.push(
      require([ 'models/space', 'views/spaces/settings/memberships' ], function(Space, SettingsView) {
        var space = new Space(<%= rabl :"/spaces/show", object: @space %>.space);
        s = new SettingsView({ space: space });
      })
    );
  </script>
<% end %>

<form id="space_membership_settings">
  <h2>Add Members</h2>
  <label>You can look up users by their nicknames using the text box below.
    <br /><br />
    <input type="text" id="user_search" autocomplete="off" class="very_fat search-box" />
  </label>
  <div class="user-listing" id="user_listing"></div>
  <h2>Registered Members</h2>

  <table>
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Contributions</th>
        <th>Role<br /><small>(Member/Editor/Admin)</small></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="membership_records">
    </tbody>
  </table>
</form>


<div class="space_role_description">
  <h3>Group Roles</h3>
  <h4>Members</h4>
  <p>Members are limited to reading the pages
    written by the space editors.</p>
  <h4>Editors</h4>
    <p>Editors can
    write new pages and folders, edit existing ones, and rename them.</p>
  <h4>Admins</h4>
  <p>Administrators can invite new members,
    promote and demote them to and from
    the editorial role, and can kick non-admins.
    Admins get all the perks editors and members do.
  </p>
  <h4>Group creator</h4>
  <p>The space creator can change the space name, promote
    and demote others to/from the admin role, and kick admins.</p>
</div>