<% content_for :section do %> publishing <% end %>

<section id="space_publishing_settings" style="display: none;">
  <% [ 'layout', 'theme', 'navigation_links', 'custom_css' ].each do |section| %>
    <%= partial "spaces/settings/publishing/#{section}" %>
  <% end %>
</section>