<% @page = home_page = @folder.homepage %>

<% unless @page %>
  <% @page = @folder.pages.new({ title: @folder.title, content: ' ' }) %>
  <p>This folder has no home page,
    <% if @folder.pages.any? %>
      but it does have <%= pluralize(@folder.pages({browsable:true}).size, "page") %>:
      <%= partial "/groups/public/_listing", locals: { no_title: true, coll: [ @folder ] } %>
    <% else %>
      and it has no pages either.
    <% end %>
  </p>
<% end %>

<%= partial "/pages/pretty" %>
