[raw assets]
public/**/glyphicons*
*.zip
*.xcf
*.sql
app/assets/bootstrap
exclude

[env]
/config/*.yml
/node_modules
/dumps
/tmp
.sass-cache
/.ruby-version

[build]
/public/js/compiled
/public/css/compiled
