<% unless flash.empty? %>
  <div id="flashes">
    <% if flash.size > 1 then %>
      <ol>
        <% flash.each_pair do |ctx,msg| %>
          <li class="flash <%= ctx %>"><%= msg %></li>
        <% end %>
      </ol>
    <% else %>
      <% flash.each_pair do |ctx,msg| %>
        <span class="flash <%= ctx %>"><%= msg %></span>
      <% end %>
    <% end %>
    <button>&times;</button>
  </div>

  <% content_for :deferred_js do %>
    <script type="text/javascript">
      var flash = {
        pulse: 2500,
        timer: null,
        hide: function() {
          if ($("#flashes").is(":visible")) { // might have been hidden already by the user
            $("#flashes button").click();
          }

          clearTimeout(flash.timer);
          flash.timer = null;
        },

        hide_in_a_bit: function() {
          if (flash.timer)
            return;

          flash.timer = setTimeout("flash.hide()", flash.pulse);
        }
      };

      $(function() {
        $("#flashes button").click(function() {
          $(this).parent().addClass("hidden");
          // $(".flash_wrap").addClass("hidden");
        });

        <% unless flash[:error] %> flash.hide_in_a_bit(); <% end %>
      });

    </script>
  <% end %>
<% end %>