<footer id="bottom">
  <p>
    <a href="/help">Help</a>
    <a href="/about">About</a>
    <a href="/open-source">Open Source</a>
    <span class="copyright"><a href="http://www.pagehub.org">PageHub</a>
    &copy;2013 <a href="http://algollabs.com">Algol Labs</a></span>

  </p>
</footer>