<li>
  <div class="emblems">
    {{#if is_public}}
      <div class="emblem public"  title="This is a public space, everyone can browse it"></div>
    {{else}}
      <div class="emblem private" title="This is a private space, guests can not browse it"></div>
    {{/if}}

    {{#if owned}}
      <div class="emblem owned" title="You own this space"></div>
    {{/if}}

  </div>

  <div class="meta">
    <a href="{{media.actions.edit}}"><strong>{{{title}}}</strong></a>
    <p>{{{brief}}}</p>
  </div>

  <div class="stats">
    <span>{{#pluralize 'page' nr_pages}}{{/pluralize}}</span>
    <span>{{#pluralize 'folder' nr_folders}}{{/pluralize}}</span>
    <span>{{#pluralize 'member' nr_members}}{{/pluralize}}</span>
  </div>
</li>