<% content_for :title do %>
  PageHub - An online text editor
<% end %>

<div class="block left">
<%= md <<-EOF

## What is it?

[PageHub](http://www.pagehub.org) is an online text editor that makes
writing technical documents a snap. It can also be used for 
keeping notes.

The pages you create on PageHub can be shared
with people, groups of people, or be kept private to yourself.
EOF
%>
</div>
<div class="block right">
<%= md <<-EOF

## Why?

Because it's hassle-free, and it's all about writing.

Pages are written in
[Markdown](http://daringfireball.net/projects/markdown/) so your
documentation can be rendered as `man` entries, or as fully-fledged
HTML and PDF documents.

But that's only scratching at the surface; [this page](/features) describes
more of what PageHub offers.
EOF
%>
</div>
<div class="spanner">
<%= md <<-EOF
## Use an existing account...

<span id="login_buttons">
[Sign in with Facebook](/auth/facebook) 
[Sign in with GitHub](/auth/github)
[Sign in with Twitter](/auth/twitter) 
</span>

## Or [click here](/signup) to make a PageHub account

*Signing up is made as pain-free as possible; all 
you need is an email address and a password.*

EOF
%>
</div>