<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><% yield_content :title %></title>
  <!-- <title>notebook.mxvt</title> -->

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <link href="/css/fonts/proximanova.css" rel="stylesheet" type="text/css" />
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/mxvt.js"></script>

  <script type="text/javascript">
    ui = mxvt_ui();
    $(function() {
    });
  </script>

  <% if !flash.empty? %>
    <script type="text/javascript">
      marker = null;

      $(function() {
        $("#flashes button").click(function() {
          $(this).parent().next("hr:first").remove();
          $(this).parent().remove();
        });
      });

    </script>
  <% end %>

  <% yield_content :scripts %>
</head>

<body>

  <div class="stuff">

    <header>
      <!-- <h1><a href="/">notebook.mxvt</a></h1> -->
      <!-- <h1><a href="/">naughty.mxvt</a></h1> -->
      <h1><a href="/">Naughty Notebook</a></h1>
    </header>

    <nav>
      <% if logged_in? %>
        <div id="admin_actions">
          <a href="/logout">Logout</a>
        </div>
      <% else %>
        <a id="login" href="/login">Login</a>
        <a href="/signup">Signup</a>      
      <% end %>
    </nav>
    
    <div id="content">
      <div id="status">
      </div>

      <% if !flash.empty? %>
        <div id="flashes">
          <% flash.each_pair do |ctx,msg| %>
          <span class="flash <%= ctx %>"><%= msg %></span>
          <% end %>
          <button>&times;</button>
        </div>
        <hr />
      <% end %>

      <%= yield %>
    </div>

  </div>
  <footer id="bottom">
    <!-- <p> -->
      <small>
        <a href="http://naughty.mxvt.net">Naughty Notebook</a> is free software.
        &copy;2012 <a href="http://www.mxvt.net">Ahmad Amireh</a>.</small>
    <!-- </p> -->
  </footer>

</body>

</html>
