<h2>Hello!</h2>

<form action="/login" method="POST">
  <label>
    Your email:
    <br />
    <input class="very_fat" type="text" name="email" />
  </label><br />
  <label>
    And password:
    <br />
    <input class="very_fat" type="password" name="password" />
  </label><br />

  <br />
  <input type="submit" value="Login" />
  <br />
  <br />
</form>