<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><% yield_content :title %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <link href="/css/fonts/proximanova.css" rel="stylesheet" type="text/css" />
  <link href="/css/common.css" rel="stylesheet" type="text/css" />

  <% yield_content :scripts %>
</head>

<body class="print">

  <div class="stuff">
    <header>
      <% yield_content :header %>
    </header>
    <div class="strikes">
      <hr />
      <hr />
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <%= erb :"footer" %>
</body>

</html>
