<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><% yield_content :title %></title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <link href="/css/fonts/proximanova.css" rel="stylesheet" type="text/css" />
  <link href="/css/common.css" rel="stylesheet" type="text/css" />

  <% yield_content :scripts %>

  <% if params[:scheme] %>
    <link href="/css/schemes/<%= params[:scheme].sanitize %>.css" rel="stylesheet" type="text/css" />
  <% else %>
    <link href="/css/schemes/<%= preferences["pretty"]["scheme"].sanitize %>.css" rel="stylesheet" type="text/css" />
  <% end %>
  
</head>
<body class="print">
  <div id="top"></div>
  
  <a href="#top">top &uarr;</a>
  <a href="#bottom">bottom &darr;</a>

  <div class="stuff">
    <header>
      <% yield_content :header %>
    </header>
    <div class="strikes">
      <hr />
      <hr />
    </div>
    <div id="content">
      <%= yield %>
      <div id="bottom"></div>
    </div>
  </div>
  <%= erb :"footer" %>
</body>

</html>
