.CodeMirror {
  /*border: 1px solid #E1E6E5;*/
  /*border-left: 1px solid #ddd;*/
  /*background: #FFFFF7;*/
  overflow: auto;
  font-size: 14px;
  line-height: 18px;
  width: 740px;
  margin-right: 0;
  display: inline-block;
  height: auto;
  font-family: inherit;
  margin-top: 50px;
  letter-spacing: 1px;
}
.CodeMirror-scroll {
  min-height: 492px;
  /*height: auto;*/
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-lines {
  padding-top: 0;
}

.CodeMirror-gutter-text {
  /*text-align: center;*/
}
.CodeMirror-gutter {
  background: transparent;
  border-color: #615B4E;
}
.CodeMirror pre.CodeMirror-cursor {
  border-left-color: #BBB;
  border-left-width: 1px;
}
.CodeMirror-selected {
  background: #FF4A58 !important;
}