body {
  font-family: "ProximaNova-Light", Arial, Verdana;
  font-size: 18px;
  /*font-size: 1em;*/
  /*font-size: 14px;*/
  line-height: 26px;
  /*line-height: 20px;*/
  position: relative;
  background: #FFFFF7;
  background: #615B4E;
  margin: 0;
  padding: 0;
  color: #312D21;
  /*color: #615B4E;*/
}

small {
  font-size: 12px;
}
body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  color: #D4EE5E;
  color: #00BDD7;
  /*color: #E15E32;*/
}

header h1 {
  margin-top: 0;
  /*text-shadow: 0 1px 0 #F0AD11;*/
}
header h1 a {
  text-decoration: none;
}

h1,h2,h3,
h1 a,
h1 a:visited {
  color: #FF4A58;
  /*color: #A82743;*/
}
h2 {
  color: #34747E;
}
h3 {
  color: #F0AD11;
}

#content {
  /*float: left;*/
  /*width: 100%;*/
}

.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;

  /*background: rgba(255,180,11,0.1);*/
  /*background: #E5F04C;*/
  /*background: #FFB40B;*/
  /*background: #5C323E;*/
  background: #FFFFF7;
  /*border: 1px solid #FFB40B;*/
  /*border: 1px solid #C0D23E;*/
  /*border: 1px solid #F0AD11;*/
  border: 1px solid #E1E6E5;
  border-top: none;
  padding: 20px 20px 5px 20px;
  /*box-shadow: 0px 1px 2px 1px #E1E6E5;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:  10px;
}

nav {
  position: absolute;
  right: 20px;
  top: 20px;
}

#actions {

}

textarea,
#current_page,
input {
  border-radius: 2px;
}

#current_page,
#pages {
  /*border: 1px solid #FF4242; */
  /*border: 1px solid #312D21; */
  /*border: 1px solid #C0D23E; */
  /*border: 1px solid #00BDD7; */
  /*border: 1px solid #E1E6E5; */
  /*min-height: 300px;*/
  background: #FFFFF7;
  margin: 0;
  /*margin-top: 5px;*/
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

#pages {
  width: 200px;
  padding-top: 0;
  padding-left: 0;
  /*border-right: none;*/
  /*border-color: #615B4E;*/
  /*border-right-color: #fff;*/
  /*border-bottom-left-radius:  10px;  */
  /*background: rgba(0,0,0,0.8);*/
  /*background: #615B4E;*/
  /*background: #5C323E;*/
  /*padding: 15px 10px;*/
}

#pages hr {
  margin-top: 0;
  border: none;
  border-top: 1px solid #fffff7;
}
a#new_page:not(:hover) {
  color: #F0AD11;
  /*color: #FFF;*/
}

#current_page {
  width: 718px;
  /*border-bottom-right-radius: 10px;*/
  background: #FFFFF7;
  margin-top: 40px;
  /*border-left-color: #F0F2EB;*/
}

#pages li:hover,
#pages .selected {
  background: #fffff7;
  color: #615B4E;
  color: #E2403D;
  cursor: pointer;
}
#pages ul {
  list-style-type: none;
  width: 241px;
  position: relative;
  left: -11px;
  padding: 0;
  margin: 0;
}
#pages ul li {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0 11px;
  /*color: #fffff7;*/
}

#current_page > *:first-child,
#pages > *:first-child {
  margin-top: 0;
}
#status {
  position: fixed;
  top: -100px;
  background: #FFFFF7;
  border-bottom: 1px solid #DDD;
  width: 959px;
  text-align: center;
  padding: 10px;
  margin-left: -20px;
  z-index: 100;

  -webkit-transition: top 0.5s ease 0s;
  -moz-transition: top 0.5s ease 0s;
  -ms-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;    

  box-shadow: 0 0px 5px 0px black;
}
#status.good {
  background: #C0D23E;
}
#status.bad {
  background: #BF0606;
}
#status.pending {
  background: #F0AD11;
}

#status.hidden {
  top: -100px;
}
#status.visible {
  top: 0;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition:    color 0.25s ease 0s;
  -ms-transition:     color 0.25s ease 0s;
  -o-transition:      color 0.25s ease 0s;
  transition:         color 0.25s ease 0s;      
}
a:hover,
a:visited:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #E2403D;
}

#page_actions select {
  background: #fffff7;
  border: none;
  outline: none;
  color: #00BDD7;
  font-size: 13px;
  border-color: yellow;
  text-align: center;
}
#page_actions select:hover {
  color: #E2403D;
  cursor: pointer;
}

#page_actions select option {
  background: #fffff7;
}

input[type=text],
input[type=email],
input[type=password] {
  border-radius: 8px;
  background: none;
  border: 2px solid #555;
  padding: 5px 10px;
  line-height: 28px;
}

#title_editor {
  width: 200px;
  margin-left: 10px;  
}


input[type=submit],
button {
  line-height: 22px;
  color: #312d21;
  margin: 0;
  cursor: pointer;

  padding: 5px 10px;
  border:  1px solid #FF4242;
  border:  1px solid #FFB40B;
  border:  2px solid #555;
  border-radius: 15px;

  background: #F0AD11;
  background: #00BDD7;
  text-transform: uppercase;
  font-weight: bold;

/*text-shadow: 0 0 1px black;*/
color: white;
/*box-shadow: 0 0px 0px 2px #D4EE5E;*/

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition:    all 0.25s ease 0s;
  -ms-transition:     all 0.25s ease 0s;
  -o-transition:      all 0.25s ease 0s;
  transition:         all 0.25s ease 0s;  
}

button:hover, 
input[type=submit]:hover {
  background: #312D21;
  background: #FFB40B;
  /*border-color: #fffff7;*/
  color: white;
}

button:active,
input[type=submit]:active {
  background: #FFFFF7;
  color: #312D21;
}

footer {
  color: #fff;
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
#page_actions {
  position: absolute;
  top: 0;
  left: 228px;
  font-size: 14px;
  z-index: 100;
  /*border-bottom: 1px solid #EEE;*/
  width: 690px;
  /*border-left: 1px solid #EEE;*/
  padding-left: 5px;
}
.disabled {
  opacity: 0.5;
}
.disabled * {
  color: gray !important;
  cursor: default !important;
}

#content {
  position: relative;
}