body {
  font-family: "UbuntuRegular", "ProximaNova-Light", Arial, Verdana;
  font-size: 14px;
  /*font-size: 1em;*/
  /*font-size: 14px;*/
  line-height: 22px;
  position: relative;
  /*background: #FFFFF7;*/
  /*background: #615B4E;*/
  margin: 0;
  padding: 0;
  /*color: #312D21;*/
  color: #615B4E;
  color: #F4FAD2;
  background: url(bg2.png) repeat;
  margin-bottom: 20px;
}

.funky {
  font-family: "UbuntuMonoRegular";
}
body.print {
  font-family: "ProximaNova-Light";
  font-size: 16px;
  line-height: 20px;
}
body.print .strikes {
  display: none;
}

small {
  font-size: 12px;
}
body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid #615b4e;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.strikes {
  position: relative;
  width: 962px;
  left: -22px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  z-index: 100;
  margin-bottom: 30px;
  background: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);
}
.strikes hr {
  border-color: #615B4E;
  margin: 26px -10px;
  box-shadow: none;
}

a,
a:visited {
  color: #D4EE5E;
  color: #F0AD11;
  /*color: #E15E32;*/
}

header h1 {
  margin-top: 0;
}
header h1 a {
  text-decoration: none;
}

h1,h2,h3,
h1 a,
h1 a:visited {
  color: #FF4A58;
  color: #E94E77;
  /*color: #FF4A58;*/
  /*color: #A82743;*/
}
h2 {
  color: #34747E;
  color: #D4EE5E;
}
h3 {
  color: #F0AD11;
}

#content {
  /*float: left;*/
  /*width: 100%;*/
  padding-bottom: 20px;
}

.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;

  /*background: rgba(255,180,11,0.1);*/
  /*background: rgba(0,0,0,0.1);*/
  /*background: #E5F04C;*/
  /*background: #FFB40B;*/
  /*background: #5C323E;*/
  /*background: #FFFFF7;*/
  /*border: 1px solid #FFB40B;*/
  /*border: 1px solid #C0D23E;*/
  /*border: 1px solid #F0AD11;*/
  /*border: 1px solid #E1E6E5;*/
  border-top: none;
  padding: 20px 20px 5px 20px;
  padding: 20px 0;
  /*box-shadow: 0px 0px 1px 1px #615B4E;*/
  /*box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5) inset;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:  10px;
  /*border: 1px solid #615b4e;*/
}

nav {
  position: absolute;
  right: 20px;
  /*top: 15px;*/
  top: 2px;
}

nav a {
  margin-left: 10px;
}

#actions {

}

textarea,
#page_editor,
input {
  border-radius: 2px;
}

#page_editor,
#pages {
  /*border: 1px solid #FF4242; */
  /*border: 1px solid #312D21; */
  /*border: 1px solid #C0D23E; */
  /*border: 1px solid #F0AD11; */
  /*border: 1px solid #E1E6E5; */
  /*min-height: 300px;*/
  /*background: #FFFFF7;*/
  margin: 0;
  /*margin-top: 5px;*/
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

#pages {
  width: 200px;
  padding-top: 0;
  padding-left: 0;
  /*border-right: none;*/
  /*border-color: #615B4E;*/
  /*border-right-color: #fff;*/
  /*border-bottom-left-radius:  10px;  */
  /*background: rgba(0,0,0,0.8);*/
  /*background: #615B4E;*/
  /*background: #5C323E;*/
  /*padding: 15px 10px;*/
}

#pages hr {
  margin-top: 0;
  border: none;
  /*border-top: 1px solid #fffff7;*/
  /*border-top: 1px solid #615B4E;*/
}
a#new_page {
  font-size: 23px;
}
a#new_page:not(:hover) {
  /*color: #F0AD11;*/
  /*color: #FFF;*/
}

#page_editor {
  width: 740px;
  /*border-bottom-right-radius: 10px;*/
  background: transparent;
  margin-top: 40px;
  /*border-left-color: #F0F2EB;*/

}

#pages li:hover,
#pages .selected {
  /*background: #fffff7;*/
  color: #615B4E;
  color: #E2403D;
  color: #E94E77;
  cursor: pointer;
}

#pages ul {
  list-style-type: none;
  position: relative;
  left: -11px;
  padding: 0;
  margin: 0;
}
#pages ul li {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0 11px;
  /*color: #fffff7;*/
}

#page_editor > *:first-child,
#pages > *:first-child {
  margin-top: 0;
}
#status {
  position: fixed;
  top: -100px;
  background: #FFFFF7;
  /*border-bottom: 1px solid #DDD;*/
  width: 960px;
  text-align: center;
  padding: 0px;
  margin-left: -20px;
  z-index: 100;

  -webkit-transition: top 0.5s ease 0s;
  -moz-transition: top 0.5s ease 0s;
  -ms-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;    

  box-shadow: 0 0px 3px 0px #615B4E;
  font-size: 14px;
}
#status.good {
  background: #C0D23E;
  color: #111;
}
#status.bad {
  background: #BF0606;
}
#status.pending {
  background: rgba(240,173,17,0.5);
}

#status.hidden {
  top: -100px;
}
#status.visible {
  top: 0;
}

a,
#pages li {
  text-decoration: none;
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition:    color 0.25s ease 0s;
  -ms-transition:     color 0.25s ease 0s;
  -o-transition:      color 0.25s ease 0s;
  transition:         color 0.25s ease 0s;      
}
a:hover,
a:visited:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #E2403D;
  color: #FF4A58;
  color: #E94E77;
}

#page_actions select {
  /*background: #fffff7;*/
  background: transparent;
  border: none;
  outline: none;
  color: #F0AD11;
  font-size: 13px;
  border-color: yellow;
  text-align: center;
}
#page_actions select:hover {
  color: #E2403D;
  color: #FF4A58;
  cursor: pointer;
}

#page_actions select option {
  /*background: #fffff7;*/
  background: #615B4E;
}

input[type=text],
input[type=email],
input[type=password] {
  border-radius: 8px;
  background: none;
  border: 1px solid #615B4E;
  padding: 5px 10px;
  line-height: 28px;
  outline: none;
  color: #fff;
  box-shadow: 0 0 5px 0 black inset;
  background: rgba(0,0,0,0.2);

  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition:    background-color 0.25s ease 0s;
  -ms-transition:     background-color 0.25s ease 0s;
  -o-transition:      background-color 0.25s ease 0s;
  transition:         background-color 0.25s ease 0s;    
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 320px;
  line-height: 40px;
}

#title_editor {
  width: 200px;
  margin-left: 10px;  
}


input[type=submit],
button {
  line-height: 22px;
  color: #312d21;
  margin: 0;
  cursor: pointer;

  padding: 5px 10px;
/*  border:  1px solid #FF4242;
  border:  1px solid #FFB40B;
  border:  2px solid #555;
  border-radius: 15px;

  background: #F0AD11;
  background: #F0AD11;*/

color: white;
background-color: #B85C00;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#F93),color-stop(25%,#F93),to(#B85C00));
background-image: -webkit-linear-gradient(#F93,#F93 25%,#B85C00);
background-image: -moz-linear-gradient(top,#F93,#F93 25%,#B85C00);
background-image: -ms-linear-gradient(#F93,#F93 25%,#B85C00);
background-image: -o-linear-gradient(#F93,#F93 25%,#B85C00);
background-image: linear-gradient(#F93,#F93 25%,#B85C00);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #C60 #C60 #AD5700;
border-color: rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.3);

  text-transform: uppercase;
  font-weight: bold;

/*text-shadow: 0 0 1px black;*/
/*color: white;*/
/*box-shadow: 0 0px 0px 2px #D4EE5E;*/

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition:    all 0.25s ease 0s;
  -ms-transition:     all 0.25s ease 0s;
  -o-transition:      all 0.25s ease 0s;
  transition:         all 0.25s ease 0s;  
}

button:hover, 
input[type=submit]:hover {
/*  background: #312D21;
  background: #FFB40B;*/
  /*border-color: #fffff7;*/
/*  color: white;*/
color: #EEE;
background-position: 0 -15px;
padding: 5px 20px;
}

button:active,
input[type=submit]:active {
  background: #FFFFF7;
  color: #312D21;
}

footer {
  /*color: #fff;*/
  width: 960px;
  margin: 0 auto;
  /*text-align: center;*/
}
#page_actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 100;
  padding-left: 5px;
}
.disabled {
  opacity: 0.5;
}
.disabled * {
  color: gray !important;
  cursor: default !important;
}

#content {
  position: relative;
}

img.loader {
  position: absolute;
  left: 0;
  top: -38px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  display: none;
}

#flashes {
  display: block;
  position: relative;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  -webkit-transition: all 1s ease 0s;
  -moz-transition:    all 1s ease 0s;
  -ms-transition:     all 1s ease 0s;
  -o-transition:      all 1s ease 0s;
  transition:         all 1s ease 0s;    
}
#flashes button {
right: 7px;
position: absolute;
top: 7px;
line-height: 16px;
padding: 5px;
height: 29px;
}
#flashes.hidden {
  opacity: 0;
  position: absolute;
  top: -150px;
}
#editor_container {
  position: relative;
  display: inline-block;
}

/*form section { padding-left: 10px; }*/
/*form section h2:first-child { margin-left: -10px; }*/

form#password input[type=password] {
  line-height: 22px;
}

.flash.error, span.error { color: #E94E77; }
.flash.notice, .success { color: #D4EE5E; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}