body {
  font-family: "UbuntuRegular", "ProximaNova-Light", Arial, Verdana;
  font-size: 14px;
  /*font-size: 1em;*/
  /*font-size: 14px;*/
  line-height: 22px;
  position: relative;
  /*background: #FFFFF7;*/
  /*background: #615B4E;*/
  margin: 0;
  padding: 0;
  /*color: #312D21;*/
  color: #615B4E;
  color: #F4FAD2;
  background: url(bg2.png) repeat;
  /*background: url(striped_brown_baige.png) repeat;*/
  /*background: #101010;*/
  /*margin-bottom: 20px;*/
}
html {
  background-color: transparent;
}
.funky {
  font-family: "UbuntuMonoRegular";
}
body.print {
  font-family: "ProximaNova-Light";
  font-size: 16px;
  line-height: 20px;
}
body.print .strikes {
  display: none;
}

small {
  font-size: 12px;
}
body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid #615b4e;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.strikes {
  position: relative;
  width: 962px;
  left: -22px;
  /*-webkit-transform: rotate(-1.5deg);*/
  /*-moz-transform: rotate(-1.5deg);*/
  z-index: 100;
  margin-bottom: 30px;
  /*background: rgba(0,0,0,0.2);*/
  /*box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);*/
}
.strikes hr {
  border-color: #615B4E;
  border-color: rgba(0,0,0,0.15);
  margin: 26px -10px;
  box-shadow: none;
}

a,
a:visited {
  color: #D4EE5E;
  color: #F0AD11;
  /*color: #E15E32;*/
}
header {
  /*margin-bottom: 30px;*/
  max-height: 65px;
}

header h1 {
  margin: 0;
  line-height: 65px;
}
header h1 a {
  text-decoration: none;
  color: #FFFEDF !important;
}

h1,h2,h3,
h1 a,
h1 a:visited {
  color: #FF4A58;
  color: #E94E77;
  /*color: #FF4A58;*/
  /*color: #A82743;*/
}
h2 {
  color: #34747E;
  color: #D4EE5E;
}
h3 {
  color: #F0AD11;
}

#content {
  /*float: left;*/
  /*width: 100%;*/
  /*padding-bottom: 20px;*/
}

.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;

  /*background: rgba(255,180,11,0.1);*/
  /*background: rgba(10,10,10,0.991);*/
  /*background: #000;*/
  border-top: none;
  padding: 0;
/*  border-bottom-right-radius: 10px;
  border-bottom-left-radius:  10px;*/
}

.header_wrap,
.action_bar_wrap {
  width: 100%;
  background: rgba(0,0,0,0.25);
  height: 65px;
  position: absolute;
  top: 0;
  z-index: -100;
}

.action_bar_wrap {
  top: 65px;
  height: 40px;
  background: rgba(0,0,0,0.1);
}

.stuff,
footer {
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  position: absolute;
  right: 15px;
  top: 0;
  /*top: 2px;*/
}

nav a {
  margin-left: 10px;
  padding: 0;
  line-height: 65px;
}

#actions {

}

textarea,
#page_editor,
input {
  border-radius: 2px;
}

#page_editor,
#pages {
  margin: 0;
  /*margin-top: 5px;*/
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

#pages {
  width: 200px;
  padding-top: 0;
  padding-left: 0;
}

#pages hr {
  margin-top: 0;
  border: none;
}
a#new_page {
  line-height: 40px;
  display: inline-block;
  clear: both;
}
a#new_page:not(:hover) {
  /*color: #F0AD11;*/
  /*color: #FFF;*/
}

#page_editor {
  width: 740px;
  /*border-bottom-right-radius: 10px;*/
  background: transparent;
  margin-top: 50px;
  max-height: 420px;
}

#pages li:hover,
#pages .selected {
  color: #615B4E;
  color: #E2403D;
  color: #E94E77;
  cursor: pointer;
}

#pages ul {
  /*list-style-type: none;*/
  padding: 0;
  margin: 10px 0 0 0;
}
#pages ul li {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0;
  line-height: 16px;
  vertical-align: top;
}

#page_editor > *:first-child,
#pages > *:first-child {
  margin-top: 0;
}
#status {
  position: fixed;
  /*top: -100px;*/
  top: 65px;
  background: #FFFFF7;
  /*border-bottom: 1px solid #DDD;*/
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
  line-height: 40px;
  left: -100%;
  right: 0;
  z-index: 1000;

  -webkit-transition: left 0.5s ease 0s;
  -moz-transition:    left 0.5s ease 0s;
  -ms-transition:     left 0.5s ease 0s;
  -o-transition:      left 0.5s ease 0s;
  transition:         left 0.5s ease 0s;    

  box-shadow: 0 0px 3px 0px #615B4E;
  font-size: 14px;
}
#status.good {
  background: #C0D23E;
  color: #111;
}
#status.bad {
  background: #BF0606;
}
#status.pending {
  background: rgba(240,173,17,0.5);
}

#status.hidden {
  left: 100%;
}
#status.visible {
  left: 0;
}

a,
#pages li {
  text-decoration: none;
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition:    color 0.25s ease 0s;
  -ms-transition:     color 0.25s ease 0s;
  -o-transition:      color 0.25s ease 0s;
  transition:         color 0.25s ease 0s;      
}
a:hover,
a:visited:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #E2403D;
  color: #FF4A58;
  color: #E94E77;
}

#page_actions select {
  /*background: #fffff7;*/
  background: transparent;
  border: none;
  outline: none;
  color: #F0AD11;
  font-size: 13px;
  border-color: yellow;
  text-align: center;
}
#page_actions select:hover {
  color: #E2403D;
  color: #FF4A58;
  cursor: pointer;
}

#page_actions select option {
  /*background: #fffff7;*/
  background: #615B4E;
}

input[type=text],
input[type=email],
input[type=password] {
  border-radius: 8px;
  background: none;
  border: 1px solid #615B4E;
  padding: 5px 10px;
  line-height: 28px;
  outline: none;
  color: #fff;
  box-shadow: 0 0 5px 0 black inset;
  background: rgba(0,0,0,0.2);

  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition:    background-color 0.25s ease 0s;
  -ms-transition:     background-color 0.25s ease 0s;
  -o-transition:      background-color 0.25s ease 0s;
  transition:         background-color 0.25s ease 0s;    
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 320px;
  line-height: 40px;
}

#title_editor {
  width: 200px;
  margin-left: 10px;  
}


input[type=submit],
button,
a.button {
  line-height: 22px;
  color: #312d21;
  margin: 0;
  cursor: pointer;

  padding: 5px 10px;

  color: white;
  background-color: #B85C00;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#F93),color-stop(25%,#F93),to(#B85C00));
  background-image: -webkit-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -moz-linear-gradient(top,#F93,#F93 25%,#B85C00);
  background-image: -ms-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -o-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: linear-gradient(#F93,#F93 25%,#B85C00);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border: 2px solid #000;
  border-color: #C60 #C60 #AD5700;
  border-color: rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.3);

  text-transform: uppercase;
  font-weight: bold;

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition:    all 0.25s ease 0s;
  -ms-transition:     all 0.25s ease 0s;
  -o-transition:      all 0.25s ease 0s;
  transition:         all 0.25s ease 0s;  
}

button:hover, 
input[type=submit]:hover,
a.button:hover {
  color: #EEE;
  background-position: 0 -15px;
  padding: 5px 20px;
}

button:active,
input[type=submit]:active,
a.button:active {
  background: #FFFFF7;
  color: #312D21;
}

footer {
  width: 960px;
  margin: 0 auto;
  display: none;
}
#page_actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 100;
  padding-left: 5px;
  line-height: 40px;
  display: block;
}
.disabled {
  opacity: 0.5;
}
.disabled * {
  color: gray !important;
  cursor: default !important;
}

#content {
  position: relative;
}

img.loader {
  position: absolute;
  left: 0;
  bottom: 10px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  display: none;
}

#flashes {
  display: block;
  position: relative;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  -webkit-transition: all 1s ease 0s;
  -moz-transition:    all 1s ease 0s;
  -ms-transition:     all 1s ease 0s;
  -o-transition:      all 1s ease 0s;
  transition:         all 1s ease 0s;    
}
#flashes button {
  right: 7px;
  position: absolute;
  top: 7px;
  line-height: 16px;
  padding: 5px;
  height: 29px;
}
#flashes.hidden {
  opacity: 0;
  position: absolute;
  top: -150px;
}
#editor_container {
  position: relative;
  display: inline-block;
}

/*form section { padding-left: 10px; }*/
/*form section h2:first-child { margin-left: -10px; }*/

form#password input[type=password] {
  line-height: 22px;
}

.flash.error, span.error { color: #E94E77; }
.flash.notice, .success { color: #D4EE5E; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  height: 0px;
  display: block;
  background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
  background-color: rgba(0,0,0,0.15);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255,255,255,0.125);
  -webkit-border-radius: 6px;
}