body {
  /*font-family: "ProximaNova-Light", Arial, Verdana;*/
  /*font-size: 15px;*/
  font-weight: 100;
}
header {
  padding: 15px 0 0 0;
  max-height: inherit;
  height: 140px;
}

.header_wrap {
  height: 160px;
  background: none;
  box-shadow: none;
}

header img {
  margin-left: -15px;
}
header h1 {
  margin: 0;
}
#flashes {
  width: 640px;
  margin-left: -20px;
}

nav a:last-of-type {
  float: right;
}

nav {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  clear:  both;
}
nav a { padding: 0; line-height: inherit; height: auto; }
.guest .block {
  width: 45%;
  clear: none;
  vertical-align: top;
}
.guest .block.left {
  float: left;
}
.guest .block.right {
  float: right;
}

.block {
  width: 45%;
  display: inline-block;
}
.spanner {
  display: block;
  width: 100%;
  clear: both;
}