body {
  /*font-family: "ProximaNova-Light", Arial, Verdana;*/
  /*font-size: 15px;*/
  font-weight: 100;
}
header {
  padding: 15px 0 0 0;
  max-height: inherit;
  height: 140px;
}

.header_wrap {
  height: 160px;
  background: none;
  box-shadow: none;
}

header img {
  margin-left: -15px;
}
header h1 {
  margin: 0;
}
#flashes {
  width: 640px;
  margin-left: -20px;
  padding: 5px 10px;
}

.stuff > nav a:last-of-type {
  float: right;
}

.nav_wrap {
  height: 40px;
  opacity: 0.5;
}

.stuff > nav {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  clear:  both;
  padding: 0;
}
.stuff > nav a { padding: 0; line-height: 40px; height: 40px; vertical-align: middle; height: auto; display: inline-block; }

.guest .block {
  width: 45%;
  clear: none;
  vertical-align: top;
}
.guest .block.left {
  float: left;
}
.guest .block.right {
  float: right;
}

.block {
  width: 45%;
  display: inline-block;
}
.spanner {
  display: block;
  width: 100%;
  clear: both;
}

.features h2 {
  text-transform: capitalize;
}

form#user_signup {
  display: inline-block;
  vertical-align: top;
}
div.browser_notice {
  /*padding-left: 163px;*/
  position: relative;
  width: 220px;
  display: inline-block;
  margin-left: 15px;
  /*background: rgba(0,0,0,0.05);*/
  padding: 0 30px;
  /*box-shadow: 0 0 3px 1px #aaa;*/
  /*border-radius: 5px;*/
  font-size: 0.9em;
  text-align: left;
}
div.browser_notice img {
  vertical-align: middle;
  display: block;
  margin-top: 15px;
  position: absolute;
  top: 0;
  right: 0;
}