body {
  font-family: "UbuntuRegular", "ProximaNova-Light", Arial, Verdana;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  margin: 0;
  padding: 0;
  color: #615B4E;
  height: 100%;
}
html {
  background-color: transparent;
  height: 100%;
}
.funky {
  font-family: "UbuntuMonoRegular";
}
body.print {
  font-family: "ProximaNova-Light";
  font-size: 16px;
  line-height: 20px;
}
body.print .strikes {
  display: none;
}

small {
  font-size: 12px;
}
body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body a {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

code {
  font-size: 14px;
}
.strikes {
  position: relative;
  width: 962px;
  left: -22px;
  /*-webkit-transform: rotate(-1.5deg);*/
  /*-moz-transform: rotate(-1.5deg);*/
  z-index: 100;
  margin-bottom: 30px;
  /*background: rgba(0,0,0,0.2);*/
  /*box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);*/
}
.strikes hr {
  border-color: #615B4E;
  border-color: rgba(0,0,0,0.15);
  margin: 26px -10px;
  box-shadow: none;
}

a,
a:visited {
  color: #D4EE5E;
  color: #F0AD11;
  /*color: #E15E32;*/
}
header {
  /*margin-bottom: 30px;*/
  max-height: 65px;
}

header h1 {
  margin: 0;
  line-height: 65px;
}
header h1 a {
  text-decoration: none;
  /*color: #FFFEDF !important;*/
}

h1,h2,h3,
h1 a,
h1 a:visited {
  color: #E94E77;
}

h2,
.member header h1 a em {
  color: #7ea800;
}
h3 {
  color: #F0AD11;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "ProximaNova-Light";
}
.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;
  border-top: none;
  padding: 0;
}

.header_wrap,
.action_bar_wrap,
.flash_wrap {
  width: 100%;
  background: rgba(0,0,0,0.05);
  height: 65px;
  position: absolute;
  top: 0;
  z-index: -100;
}

.action_bar_wrap,
.flash_wrap {
  top: 65px;
  height: 40px;
  background: rgba(0,0,0,0.025);
}

.stuff,
footer {
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
}
nav {
  position: absolute;
  right: 0px;
  top: 0;
  /*top: 2px;*/
}

nav a {
  margin-left: 10px;
  padding: 0;
  line-height: 65px;
}

#actions {

}

textarea,
#page_editor,
input,
a.button {
  border-radius: 2px;
}

#page_editor,
#pages {
  margin: 0;
  /*margin-top: 5px;*/
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

#pages {
  width: 200px;
  padding-top: 0;
  padding-left: 0;
}

#pages hr {
  /*margin-top: 0;*/
  border: 1px dotted #eee;
}
a#new_page {
  line-height: 40px;
  display: inline-block;
  clear: both;
}

#page_editor {
  width: 740px;
  /*border-bottom-right-radius: 10px;*/
  background: transparent;
  margin-top: 50px;
  max-height: 420px;
}

#pages li:hover,
#pages .selected {
  color: #615B4E;
  color: #E2403D;
  color: #E94E77;
  cursor: pointer;
}

#pages ul {
  /*list-style-type: none;*/
  padding: 0;
  margin: 10px 0 0 0;
}
#pages ul li {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0;
  line-height: 16px;
  vertical-align: top;
}

#page_editor > *:first-child,
#pages > *:first-child {
  margin-top: 0;
}
#status {
  position: fixed;
  /*top: -100px;*/
  top: 65px;
  background: #FFFFF7;
  /*border-bottom: 1px solid #DDD;*/
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
  line-height: 40px;
  left: -100%;
  right: 0;
  z-index: 1000;

  -webkit-transition: left 0.5s ease 0s;
  -moz-transition:    left 0.5s ease 0s;
  -ms-transition:     left 0.5s ease 0s;
  -o-transition:      left 0.5s ease 0s;
  transition:         left 0.5s ease 0s;    

  box-shadow: 0 0px 3px 0px #615B4E;
  font-size: 14px;
}
#status.good {
  background: #C0D23E;
  color: #111;
}
#status.bad {
  background: #BF0606;
}
#status.pending {
  background: rgba(240,173,17,0.95);
}

.hidden {
  display: none;
}
#status.hidden {
  left: 100%;
  display: block;
}
#status.visible {
  left: 0;
  display: block;
}

a,
#pages li {
  text-decoration: none;
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition:    color 0.25s ease 0s;
  -ms-transition:     color 0.25s ease 0s;
  -o-transition:      color 0.25s ease 0s;
  transition:         color 0.25s ease 0s;      
}
a:hover,
a:visited:hover,
a.selected,
.selected a,
.selected {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #E94E77;
}

#title_editor {
  width: 200px;
  margin-left: -10px;  
}



footer {
  width: 960px;
  margin: 0 auto;
  border-top: 1px dotted black;
  display: none;
}
footer p {
  margin: 5px 0;
}
#page_actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 100;
  padding-left: 5px;
  display: block;
}
.disabled,
[data-disabled] {
  opacity: 0.5;
}
.disabled *,
[data-disabled], [data-disabled] * {
  color: gray !important;
  cursor: default !important;
}

#content {
  position: relative;
}

img.loader {
  position: absolute;
  left: 0;
  bottom: 10px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  display: none;
}

#flashes {
  display: block;
  position: relative;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2);
  padding: 9px 0;
  width: 100%; 
}
#flashes button {
  right: 7px;
  position: absolute;
  top: 7px;
  line-height: 12px;
  padding: 5px;
  height: 25px;
}
#flashes.hidden {
  opacity: 0;
  position: absolute;
  top: -150px;
}
#editor_container {
  position: relative;
  display: inline-block;
}

/*form section { padding-left: 10px; }*/
/*form section h2:first-child { margin-left: -10px; }*/

form#password input[type=password] {
  line-height: 22px;
}

.flash.error, span.error, .bad { color: #E94E77; }
.flash.notice, .success { color: #D4EE5E; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

.stuff ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.stuff ::-webkit-scrollbar-button:start:decrement,
.stuff ::-webkit-scrollbar-button:end:increment  {
  height: 0px;
  display: block;
  background-color: transparent;
}
.stuff ::-webkit-scrollbar-track-piece  {
  /*background-color: rgba(0,0,0,0.15);*/
  /*background-color: #ddd;*/
}
.stuff ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  /*background-color: rgba(0, 0, 0, 0.25);*/
  background-color: #ddd;
  border: 1px solid rgba(255,255,255,0.125);
  -webkit-border-radius: 6px;
}


a[href="#bottom"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #33332d;
  text-decoration: none;
  opacity: 0.5;
  z-index: 10;
}
a[href="#top"] {
  position: fixed;
  bottom: 40px;
  right: 20px;
  color: #33332d;
  text-decoration: none;
  opacity: 0.5;
  z-index: 10;
}

#skin_switcher {
  position: absolute;
  /*bottom: 10px;*/
  top: 20px;
  /*z-index: 0;*/
  left: -64px;
  opacity: 0.75;
}

#skin_switcher a {
  font-size: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #222;
}

#switch_skin_dark {
  background: #333;
}

#switch_skin_light {
  background: #ddd;
}

input[type=text],
input[type=email],
input[type=password] {
  border-radius: 8px;
  padding: 5px 10px;
  outline: none;

  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition:    background-color 0.25s ease 0s;
  -ms-transition:     background-color 0.25s ease 0s;
  -o-transition:      background-color 0.25s ease 0s;
  transition:         background-color 0.25s ease 0s;    
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input.fat,
form input.fat {
  padding-top: 10px;
  padding-bottom: 10px;
}
input.very_fat,
form input.very_fat {
  padding-top: 15px;
  padding-bottom: 15px;
}


input[type=submit],
button,
a.button {
  line-height: 22px;
  margin: 0;
  cursor: pointer;

  padding: 5px 10px;

  border: none;
 
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition:    all 0.25s ease 0s;
  -ms-transition:     all 0.25s ease 0s;
  -o-transition:      all 0.25s ease 0s;
  transition:         all 0.25s ease 0s;  
}

button:hover, 
input[type=submit]:hover,
a.button:hover {
  background-position: 0 -15px;
  padding: 5px 20px;
}

#content.print img {
  width: 100%;
}

body.guest #content {
  text-align: justify;
  /*width: 480px;*/
  /*width: 640px;*/
  margin: 0 auto;
}

#pages .scroller {
  max-height: 480px;
  overflow-y: auto;
}
#pages .wrapper {
  position: relative;
}
#pages hr {
  margin: 30px 0;
}

#pages h3,
#pages h3 * {
  font-size: 0.9em;
}
#pages .useful_links {
  margin: 0;
  margin-top: 10px;
  text-transform: lowercase;
}
#pages .useful_links small {
  display: block;
  clear: both;
  font-style: italic;
}

body.guest #content span#login_buttons a
 {
  display: inline-block;
  width: 195px;
  height: 54px;
  line-height: 54px;
  text-align: right;
}
/* Facebook login */
body.guest #content span#login_buttons a:first-of-type {
  background: url(/images/54_facebook.png) no-repeat 0 center;
}

/* GitHub login */
body.guest #content span#login_buttons a:nth-of-type(2) {
  background: url(/images/64_github.png) no-repeat 5px center;
  padding-left: 70px;
  margin: 0;
}
/* Twitter login */
body.guest #content span#login_buttons a:last-of-type {
  background: url(/images/64_twitter.png) no-repeat 10px center;
  padding-left: 70px;
  margin: 0;
}


.guest .stuff {
  width: 600px;
}
.guest header h1 {
  font-size: 0;
  /*text-align: center;*/
}

a img {
  border: none;
}

.member header h1 a em {
  font-style: normal;
}

nav a {
  padding: 0 15px;
  margin: 0;
  height: 65px;
  display: inline-block;
}

nav {
  min-width: 220px;
  text-align: right;
}
a.listlike {
  padding: 0 10px;
}
a.listlike.selected,
ol.listlike {
  /*background: rgba(0,0,0,0.65);*/
  background: #fff;
  /*border: 1px solid #ddd;*/
  box-shadow: 0 0 0px 1px #ddd inset;
}
a.listlike:after {
  content: "\2193";
}
a.listlike.selected:after {
  content: "\2191";
}
a.listlike.selected {
  border: none;
}
ol.listlike { 
  /*min-width: 180px;*/
  display: none; 
  position: absolute; 
  list-style-type: none;
  margin: 0; 
  /*padding: 5px 10px 5px 0;*/
  padding: 0;
  z-index: 101; /* to be active on top of the page action bar */
  right: 0%;
  left: 0%;
  top: 98%;
  text-align: left;
  color: white;
  /*border-top: 1px solid rgba(0,0,0,0.1);*/
  /*border-top: none;*/
  /*min-width: 160px;*/
}
ol.listlike li { padding: 5px 0; margin: 0; line-height: inherit; height: auto; border-bottom: 1px solid #ddd;  }
ol.listlike li:last-of-type { border-bottom: none;  }
ol.listlike li a { line-height: inherit; height: auto; padding: 0 10px; }

#page_actions > a {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  margin: 0;
}


.guest .block {
  width: 50%;
}
.guest .block.left {
  margin-right: auto;
}
.guest .block.right {
  margin-left: auto;
}

iframe {
  width: 100%;
}