/* Font-faces */
@font-face {
    font-family: 'UbuntuMonoRegular';
    src: url('fonts/ubuntu-mono/UbuntuMono-R-webfont.eot');
    src: url('fonts/ubuntu-mono/UbuntuMono-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-mono/UbuntuMono-R-webfont.woff') format('woff'),
         url('fonts/ubuntu-mono/UbuntuMono-R-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-mono/UbuntuMono-R-webfont.svg#UbuntuMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('fonts/ubuntu/Ubuntu-R-webfont.eot');
  src: url('fonts/ubuntu/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu/Ubuntu-R-webfont.woff') format('woff'),
       url('fonts/ubuntu/Ubuntu-R-webfont.ttf') format('truetype'),
       url('fonts/ubuntu/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('fonts/ubuntu/Ubuntu-L-webfont.eot');
    src: url('fonts/ubuntu/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu/Ubuntu-L-webfont.woff') format('woff'),
         url('fonts/ubuntu/Ubuntu-L-webfont.ttf') format('truetype'),
         url('fonts/ubuntu/Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proximanova/proximanova-light-webfont.eot');
  src: url('fonts/proximanova/proximanova-light-webfont.eot?iefix') format('eot'),
       url('fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
       url('fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
       url('fonts/proximanova/proximanova-light-webfont.svg#webfontOdV5l44Z') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/proximanova/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova/proximanova-regular-webfont.eot?iefix') format('eot'),
         url('fonts/proximanova/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova/proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "UbuntuLight", "ProximaNova-Light", Arial, Verdana;
  /*font-family: "ProximaNova-Light", "UbuntuRegular", Arial, Verdana;*/
  font-size: 14px;
  /*font-size: 15px;*/
  line-height: 22px;
  /*position: relative;*/
  margin: 0;
  padding: 0;
  color: #615B4E;
  /*height: 100%;*/
}
html {
  background-color: transparent;
  /*height: 100%;*/
}
.funky {
  font-family: "UbuntuMonoRegular";
}

small {
  font-size: 12px;
}
body * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body a {
  outline: none;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

.strikes {
  position: relative;
  width: 962px;
  left: -22px;
  /*-webkit-transform: rotate(-1.5deg);*/
  /*-moz-transform: rotate(-1.5deg);*/
  z-index: 100;
  margin-bottom: 30px;
  /*background: rgba(0,0,0,0.2);*/
  /*box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.5);*/
}
.strikes hr {
  border-color: #615B4E;
  border-color: rgba(0,0,0,0.15);
  margin: 26px -10px;
  box-shadow: none;
}

body.member header {
  /*margin-bottom: 30px;*/
  max-height: 48px;
}

body.member header h1 {
  margin: 0;
  line-height: 48px;
}
.member header h1 {
  font-size: 20px;
}
header h1 a {
  text-decoration: none;
  /*color: #FFFEDF !important;*/
}

header {
  position: relative;
}
header, .stuff > nav { z-index: 102; }

header h1, header h3 {
  vertical-align: middle;
  display: inline-block;
}

header .subheader {
  display: inline;
  margin-left: 5px;
}
header .subheader h3 {
  letter-spacing: 2px;
  padding: 5px 0 0 0;
  margin: 0;
}
h2 {
  /*color: #7ea800;*/
}
h3 {
  /*color: #F0AD11;*/
}

h1,h2,h3,h4,h5,h6 {
  font-family: "ProximaNova-Light";
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: text;
  line-height: normal;
}
.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  display: block;
  border-top: none;
  padding: 0;
}

.header_wrap,
.action_bar_wrap,
.flash_wrap,
.nav_wrap {
  width: 100%;
  background: rgba(0,0,0,0.05);
  height: 48px;
  position: absolute;
  top: 0;
  z-index: -100;
}

.action_bar_wrap,
.flash_wrap {
  top: 48px;
  height: 41px;
  background: rgba(0,0,0,0.025);
  border-bottom: 1px solid #eee;
}

header nav {
  position: absolute;
  right: 0px;
  top: 0;
  /*top: 2px;*/
}

header nav > a {
  padding: 0 15px;
  margin: -1px 0 0 0; /* to disable the top part of the box shadow */
  height: 49px;
  line-height: 49px;
  display: inline-block;
}

/*.stuff > nav > a,
#page_actions > a,
.actions > a.listlike {
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  min-width: 32px;
  padding: 0 0 0 24px;
  vertical-align: middle;
}*/

#actions {

}

textarea,
#page_editor,
input,
a.button,
button {
  /*border-radius: 2px;*/
}

#page_editor,
#pages {
  margin: 0;
  /*margin-top: 5px;*/
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

#pages {
  width: 240px;
  padding: 0 10px 0 0;
}

#pages hr {
  /*margin-top: 0;*/
  border: 1px dotted #eee;
}

/* New page & New folder link list */
#pages > .actions {
  position: relative;
  left: -5px; /* because the <a> is padded 5px to the left */
}
#pages .actions > a:first-child {
  line-height: 40px;
  height: 40px;
  display: inline-block;
  clear: both;
  /*padding: 0;*/
}

#page_editor {
  width: 720px;
  /*border-bottom-right-radius: 10px;*/
  background: transparent;
  margin-top: 50px;
  max-height: 620px;
}

/*#pages li a:hover,
#pages .selected {
  color: #615B4E;
  color: #E2403D;
  color: #E94E77;
  cursor: pointer;
}*/
.browser {
  position: relative;
  padding: 0;
  margin: 5px 5px 0 0;
}

.browser ul,
.browser ol {
  /*list-style-type: none;*/
  padding: 0 0 0 15px;
  /*margin: 10px 0 0 0;*/
}
#pages ul li:not([hidden]) {
  display: inline-block;
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  /*max-width: 210px;*/
  line-height: 18px;
  vertical-align: top;
  margin-bottom: 5px;
}

#page_editor > *:first-child,
#pages > *:first-child {
  margin-top: 0;
}

.status-wrap {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

#status {
  position: relative;
  background: #FFFFF7;
  text-align: center;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0 ;
  bottom: -240px;

  -webkit-transition: bottom 0.5s ease 0s;
  -moz-transition:    bottom 0.5s ease 0s;
  -ms-transition:     bottom 0.5s ease 0s;
  -o-transition:      bottom 0.5s ease 0s;
  transition:         bottom 0.5s ease 0s;

  box-shadow: 0 0px 1px 3px rgba(0,0,0,0.25);
  font-size: 14px;
  display: inline-block;
}
#status.good {
  background: #CCFF00;
  color: #111;
}
#status.bad {
  background: #BF0606;
  color: #fff;
}
#status.pending {
  background: rgba(240,173,17,0.95);
}

#status.hidden {
  /*display: none;*/
  bottom: -240px;
}
#status.visible {
  /*display: inline-block;*/
  bottom: 0;
}

a,
#pages li,
.highlighted {
  text-decoration: none;
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition:    color 0.25s ease 0s;
  -ms-transition:     color 0.25s ease 0s;
  -o-transition:      color 0.25s ease 0s;
  transition:         color 0.25s ease 0s;
}


#resource_editor {
  width: 100%;
  /*text-align: center;*/
}
.dialog input[type=text],
.dialog select {
  width: 100%;
  text-align: left;
}
.dialog input[type=text],
.dialog button {
  border-radius: 0;
}
.dialog .actions {
  margin: 2px 0 10px 0;
  text-align: center;
  float: left;
  width: 100%;
}
.dialog .actions button {
  /*width: 45%;*/
}
.dialog .actions button:first-child { float: left; }
.dialog .actions button:last-child { float: right; }
footer {
  /*width: 960px;*/
  margin: 10px auto 0 auto;
  border-top: 1px dotted black;
  padding: 0;
  /*display: none;*/
}
footer p {
  margin: 0;
}
#page_actions {
  position: absolute;
  top: 0;
  /*left: 0;*/
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 100;
  /*padding-left: 5px;*/
  display: block;
}
.disabled,
[data-disabled] {
  opacity: 0.5;
}
.disabled, .disabled *,
[data-disabled], [data-disabled] * {
  color: gray !important;
  cursor: default !important;
}

#content {
  position: relative;
}

img.loader {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

#flashes {
  display: block;
  position: fixed;
  z-index: 1000;
  background: white;
  padding: 10px;
  width: 960px;
  top: 0;
  margin: 0 auto;
  border: 1px solid #DDD;
  border-top: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius:  2px;

  -webkit-transition: top 1s ease 0s;
  -moz-transition:    top 1s ease 0s;
  -ms-transition:     top 1s ease 0s;
  -o-transition:      top 1s ease 0s;
  transition:         top 1s ease 0s;

}
#flashes button {
  right: 7px;
  position: absolute;
  top: 7px;
  line-height: 12px;
  padding: 5px;
  height: 25px;
}
#flashes span {
  display: block;
  margin-right: 20px; /* to not overlap with the close button */
}

#flashes.hidden {
  /*opacity: 0;*/
  /*position: absolute;*/
  top: -100px;
}
#editor_container {
  position: relative;
  display: inline-block;
}

/*form section { padding-left: 10px; }*/
/*form section h2:first-child { margin-left: -10px; }*/

form#password input[type=password] {
  line-height: 22px;
}

.flash.error, span.error, .bad { color: #E94E77; }
.flash.notice, .success { color: #7ea800; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

.stuff ::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
.stuff ::-webkit-scrollbar-button:start:decrement,
.stuff ::-webkit-scrollbar-button:end:increment  {
  height: 0px;
  display: block;
  background-color: transparent;
}
.stuff ::-webkit-scrollbar-track-piece  {
  /*background-color: rgba(0,0,0,0.15);*/
  /*background-color: #ddd;*/
}
.stuff ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  /*background-color: rgba(0, 0, 0, 0.25);*/
  background-color: #ddd;
  border: 1px solid rgba(255,255,255,0.125);
  /*-webkit-border-radius: 6px;*/
}


a[href="#bottom"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #33332d;
  text-decoration: none;
  opacity: 0.5;
  z-index: 10;
}
a[href="#top"] {
  position: fixed;
  bottom: 40px;
  right: 20px;
  color: #33332d;
  text-decoration: none;
  opacity: 0.5;
  z-index: 10;
}

#skin_switcher {
  position: absolute;
  /*bottom: 10px;*/
  /*top: 20px;*/
  top: 12px;
  /*z-index: 0;*/
  left: -64px;
  opacity: 0.75;
  z-index: 102;
}

#skin_switcher a {
  font-size: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #222;
}

#switch_skin_dark {
  background: #333;
}

#switch_skin_light {
  background: #ddd;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  /*border-radius: 8px;*/
  border-radius: 0;
  padding: 5px 10px;
  outline: none;

  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition:    background-color 0.25s ease 0s;
  -ms-transition:     background-color 0.25s ease 0s;
  -o-transition:      background-color 0.25s ease 0s;
  transition:         background-color 0.25s ease 0s;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea {
  background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  border-radius: 0;
}

input.fat,
a.button.fat,
form input.fat {
  padding-top: 10px;
  padding-bottom: 10px;
}
a.button.very_fat,
input.very_fat,
form input.very_fat {
  padding-top: 15px;
  padding-bottom: 15px;
}

a.button.thin,
input .thin,
form input.thin,
button.thin {
  /*padding: 5px;*/
  font-size: 12px;
  /*line-height: 14px;*/
  font-weight: 100;
  /*vertical-align: middle;*/
}
/*
input, a.button {
}*/

input[type=submit],
button,
a.button {
  line-height: 22px;
  margin: 0;
  cursor: pointer;

  padding: 2px 10px;

  border: none;

  text-transform: capitalize;
  font-weight: normal;
  display: inline-block;

  -webkit-transition: all 0.25s ease 0s;
  -moz-transition:    all 0.25s ease 0s;
  -ms-transition:     all 0.25s ease 0s;
  -o-transition:      all 0.25s ease 0s;
  transition:         all 0.25s ease 0s;
}

button:hover,
input[type=submit]:hover,
a.button:hover {
  /*background-position: 0 -5px;*/
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
  /*padding: 2px 15px;*/
}

#pages .scroller {
  max-height: 480px;
  overflow-y: auto;
  padding-left: 20px;
  margin-left: -25px;
}
#pages .wrapper {
  position: relative;
}
#pages hr {
  margin: 30px 0;
}

#pages h3,
#pages h3 * {
  font-size: 0.9em;
}
#pages .useful_links {
  margin: 0;
  margin-top: 10px;
  text-transform: lowercase;
}
.small {
  font-size: 0.8em;
}
#pages .useful_links small {
  display: block;
  clear: both;
  font-style: italic;
}

a img {
  border: none;
}

.member header h1 a em {
  font-style: normal;
}

.member .stuff > nav {
  min-width: 220px;
  text-align: right;
}
ol.listlike {
  /*box-shadow: 0 0px 3px 1px #aaa;*/
  border: 1px solid #ccc;
  background: white;
}
a.listlike {
  padding: 0 10px;
  position: relative;
}
a.listlike.selected {
  border: none;
  box-shadow: none;
  background-color: rgba(0,0,0,0.05);
}

ol.listlike {
  min-width: 180px;
  background: white;

  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 101; /* to be active on top of the page action bar */
  right: 0%;
  left: 0%;
  top: 99%;
  text-align: left;
  color: white;
  border-top-left-radius:     2px;
  border-bottom-left-radius:  2px;
  border-bottom-right-radius: 2px;

  max-height: 320px;
  overflow-y: auto;
}
.icon:hover,
a.listlike:hover {
  background-color: rgba(0,0,0,0.05);
}
a.listlike.selected:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ff0000;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -1px;
  right: 8px;
  z-index: 1000;
}
a.listlike.selected:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: -1px;
  right: 9px;
  z-index: 1000;
}
ol.listlike li { padding: 0; margin: 0; line-height: inherit; height: auto; border-bottom: 1px solid #ddd;  }
ol.listlike li:hover { background-color: rgba(0,0,0,0.05);}
ol.listlike li:last-of-type { border-bottom: none;  }
ol.listlike li a { display: block; width: 100%; line-height: inherit; height: auto; padding: 5px 10px; }

#page_actions > a {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}
.actions a { cursor: pointer; }
#page_actions > a:first-of-type {
  /*padding-left: 0;*/
}

iframe {
  width: 100%;
}

button.bad:not(:active),
input[type=submit].bad:not(:active),
a.button.bad:not(:active),
button.kinda_bad:not(:active),
input[type=submit].kinda_bad:not(:active),
a.button.kinda_bad:not(:active) {
  color: #eee;
  text-shadow: none;
  background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

  border-color: rgba(0,0,0,0.3);
}

/*button.kinda_bad:not(:active),
input[type=submit].kinda_bad:not(:active),
a.button.kinda_bad:not(:active) {
  color: rgb(255,48,25);
}*/

button.good:not(:active),
input[type=submit].good:not(:active),
a.button.good:not(:active) {
  /*color: #555;*/
  color: #fff;
  text-shadow: none;
  background: rgb(143,200,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(143,200,0,1) 0%, rgba(143,200,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,1)), color-stop(100%,rgba(143,200,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(143,200,0,1) 0%,rgba(143,200,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */
  border-color: rgba(0, 0, 0, 0.3);
}

.folder_pages {
  position: relative;
}
.folder_actions {
  position: absolute;
  right: 0;
  top: -24px;
}

#pages li.folder.general-folder > ol {
  padding: 0; margin: 0;
}
#pages li.folder.general-folder > span.folder_title,
#pages li.folder.general-folder > button[data-collapse] {
  display: none;
}

.hidden, [hidden=hidden] {
  display: none;
}

#pages li.folder {
  position: relative;
}

#pages li.folder.collapsed span {
  margin: 0;
}
#pages li.folder.collapsed + li.general-folder {
  margin-top: 4px; /* sorry but those 4 pixels were really bugging me */
}

#pages li.folder > span {
  display: block;
  margin-bottom: 5px;
  /*font-weight: bold;*/
  /*padding: 5px 0;*/
  padding: 0;
}

#pages li.folder > span:hover {
  cursor: pointer;
}

button[data-collapse] {
  position: absolute;
  top: 0px;
  left: -22px;
  padding: 0 5px;
  line-height: 18px;
  background: none;
  border: none;
  color: #bbb;
  display: block;
}

button.edit_folder,
button.delete_folder {
  right: 21px;
  padding: 0;
  border: none;
  height: 12px;
  width:  12px;
  position: absolute;
  top: 3px;
  opacity: 0.1;
  box-shadow: none;
}
button.edit_folder {
  background: #fff url(/assets/icons/12x12/edit.png) no-repeat center center;
}
button.delete_folder {
  right: 5px;
  background: #fff url(/assets/icons/12x12/delete.png) no-repeat center center;
}
#pages li.folder > button[data-dyn-action=remove]:hover {
  color: #333;
}
button.edit_folder:hover,
button.delete_folder:hover {
  opacity: 1;
}


#indicator,
#drag_indicator,
#browser .selected:before {
  /*display: none;*/
  position: absolute;
  top: 5px;
  left: -12px;
  width: 0;
  height: 0;
  border-top:     5px solid transparent;
  border-bottom:  5px solid transparent;
  border-left:    5px solid #ddd;
  content: '  ';
}
#browser .selected {
  text-decoration: none;
}
#browser .folder_title .selected:before {
  display: none;
}
#drag_indicator {
  right: 0;
  left: auto;
  width: 0;
  height: 0;
  border-right:   7px solid #ddd;
  border-left: none;
}

.left { float: left; }
.right { float: right;}

.drop-target {
  /*border-bottom: 1px solid #555;*/
  /*background: rgba(0,0,0,0.1);*/
  /*letter-spacing: 3pt;*/
}
.drag-src {
  opacity: 0.5;
}
/*.drop-target button[data-collapse] { display: none; }
.drop-target button[data-dyn-action=remove] { display: none; }
*/
.drop-target #indicator,
.drop-target #drag_indicator {
  top: 6px;
  border-left-color: orange;
  border-right-color: orange;
}

.general-folder.drop-target #indicator,
.general-folder.drop-target #drag_indicator {
  top: 0;
}

/* a hack for drag and drop in Safari */
[draggable=true] {
  -khtml-user-drag: element;
}


  /* Default theme */
  .cm-s-default span.cm-keyword {color: #708;}
  .cm-s-default span.cm-atom {color: #219;}
  .cm-s-default span.cm-number {color: #164;}
  .cm-s-default span.cm-def {color: #00f;}
  .cm-s-default span.cm-variable {color: black;}
  .cm-s-default span.cm-variable-2 {color: #05a;}
  .cm-s-default span.cm-variable-3 {color: #085;}
  .cm-s-default span.cm-property {color: black;}
  .cm-s-default span.cm-operator {color: black;}
  .cm-s-default span.cm-comment {color: #a50;}
  .cm-s-default span.cm-string {color: #a11;}
  .cm-s-default span.cm-string-2 {color: #f50;}
  .cm-s-default span.cm-meta {color: #555;}
  .cm-s-default span.cm-error {color: #f00;}
  .cm-s-default span.cm-qualifier {color: #555;}
  .cm-s-default span.cm-builtin {color: #30a;}
  .cm-s-default span.cm-bracket {color: #cc7;}
  .cm-s-default span.cm-tag {color: #170;}
  .cm-s-default span.cm-attribute {color: #00c;}
  .cm-s-default span.cm-header {color: blue;}
  .cm-s-default span.cm-quote {color: #090;}
  .cm-s-default span.cm-hr {color: #999;}
  .cm-s-default span.cm-link {color: #00c;}
  span.cm-header, span.cm-strong {font-weight: bold;}
  span.cm-em {font-style: italic;}
  span.cm-emstrong {font-style: italic; font-weight: bold;}
  span.cm-link {text-decoration: underline;}
  span.cm-invalidchar {color: #f00;}
  div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
  div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
  .cm-s-neat span.cm-comment { color: #a86; }
  .cm-s-neat span.cm-keyword { line-height: 1em; font-weight: bold; color: blue; }
  .cm-s-neat span.cm-string { color: #E2403D; }
  .cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
  .cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
  .cm-s-neat span.cm-variable { color: black; }
  .cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
  .cm-s-neat span.cm-meta {color: #555;}
  .cm-s-neat span.cm-link { color: #3a3; }


  /* jqModal base Styling courtesy of;
    Brice Burgess <bhb@iceburg.net> */

  /* The Window's CSS z-index value is respected (takes priority). If none is supplied,
    the Window's z-index value will be set to 3000 by default (via jqModal.js). */

  .jqmWindow {
      display: none;

      position: fixed;
      top: 17%;
      left: 50%;

      margin-left: -300px;
      width: 600px;
      /*
      background-color: #EEE;
      color: #333;
      border: 1px solid black;
      padding: 12px;*/
  }

  .jqmOverlay { background-color: rgba(0,0,0,0.5); }

  div.jqmConfirm { /* contains + positions the alert window */
    display: none;

    position: fixed;
    top: 17%;
    width: 100%;
    left: 0;
  }

  div.jqmConfirmWindow {
    height: auto;
    width: auto;
    margin: auto;
    max-width: 420px;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1px 5px #BBB;
    border-radius: 3px;
    position: relative;
    padding-bottom: 50px;
  }

  .jqmConfirmTitle{
    margin: 0;
    height: auto;
    color: black;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-shadow: 0 1px 0 white;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
    text-transform: capitalize;
  }
  .jqmConfirmTitle h1{
    margin:5px 2px;
    padding:0;
    font-size:18px;
    text-transform:capitalize;
    letter-spacing: 1px;
    font-weight: normal;
  }

  div.jqmConfirmContent{
    color: black;
    font-size: 14px;
    padding: 0 15px;
    margin: 15px 0;
    line-height: 18px;
  }

  div.jqmConfirm div.jqmActions {
    display: block;
  }
  div.jqmConfirm input#confirm_accepted {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  div.jqmConfirm input#confirm_rejected {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  .ui-dialog .actionbar {
    position: relative;
    min-height: 1em;
  }

  .ui-dialog .actionbar :first-child {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .ui-dialog .actionbar :last-child {
    position: absolute;
    bottom: 0;
    right: 0;
  }

/*  .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }

  .clearfix {display: inline-block;}

  * html .clearfix {height: 1%;}
  .clearfix {display: block;}
*/
.modal {
  display: none;
}
.modal.alert {
  background: white;
  position: fixed;
  top: 45%;
  left: 45%;
}


/* Twitter Bootstrap */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  line-height: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.fade {
  -webkit-transition: opacity 0.25s ease 0s;
  -moz-transition:    opacity 0.25s ease 0s;
  -ms-transition:     opacity 0.25s ease 0s;
  -o-transition:      opacity 0.25s ease 0s;
  transition:         opacity 0.25s ease 0s;
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  border-radius:          4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.group_form { vertical-align: top; width: 690px; display: inline-block; margin: 0; }
.group_form > :first-child { margin-top: 0; }
.group_form table { width: 100%; }
.group_form table th { text-align: left; }
.group_form table th:nth-of-type(1) { width: 46%; }
.group_form table th:nth-of-type(2) { width: 40%; }
/*.group_form table th:nth-of-type(3) { width: 10%; max-width: 10%; }*/
.group_form table tbody tr:hover { background: rgba(0,0,0,0.05); }

#content.profiles .gravatar {
  box-shadow: 0 0 3px 1px #555;
  padding: 2px;
}
#content.profiles h1 span {
  font-weight: normal;
}


.stuff > nav > span {
  position: relative;
}
.stuff > nav > span > .gravatar {
  position: absolute;
  left: -38px;
  /*box-shadow: 0 0 1px 1px #555;*/
  border: 1px solid #ccc;
  padding: 1px;
  top: -6px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 24px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
}
footer p {
  width: 960px;
  margin: 0 auto;
}

.ui-dialog {
  border: 1px solid #aaa;
  box-shadow: 0 0 1px 5px #BBB;
}
.ui-widget-overlay + .ui-dialog {
  box-shadow: 0 0 1px 5px #999;
}
.ui-dialog img { vertical-align: middle; }

.inline {
  display: inline-block;
}