body.print {
  font-family: Arial, "ProximaNova-Light";
  font-size: 16px;
  line-height: 20px;
}
body.print .strikes {
  display: none;
}


header {
  max-height: inherit;
  margin-top: 15px;
}
body #content {
  padding-bottom: 10px;
}
header h1 {
  line-height: normal;
}