<% content_for :css do %>
  <link type="text/css" rel="stylesheet" href="/css/settings.css" />
<% end %>

<% content_for :scripts do %>
  <script>
    $(function() {
      $(".settings > nav a[href=\"<%= request.path %>\"]")
        .addClass("selected").parent().addClass("selected");
    })
  </script>
<% end %>

<nav>
  <ul>
    <li>Settings</li>
    <li><a data-placement="right" title="Your public profile" href="/settings/profile">Profile</a></li>
    <li><a data-placement="right" title="Nickname, password, etc." href="/settings/account">Account</a></li>
    <li><a href="/settings/editing">Editing</a></li>
    <li><a href="/settings/publishing">Publishing</a></li>
    <li><a data-placement="right" title="Not available yet" class="disabled" href="/settings/notifications">Notifications</a></li>
    <li><a data-placement="right" title="Your group memberships" href="/settings/groups">Groups</a></li>
    <li><a data-placement="right" title="Pages you've shared with people" href="/settings/public_pages">Shares</a></li>
  </ul>
</nav>
