<% content_for :section do %> users settings <% end %>
<nav>
  <ul>
    <li><a data-placement="top" rel="tooltip" title="Your public profile" href="profile">Profile</a></li>
    <li><a data-placement="top" rel="tooltip" title="Nickname, password, etc." href="account">Account</a></li>
    <li><a href="editing">Editing</a></li>
    <!-- <li><a href="/settings/publishing">Publishing</a></li> -->
    <li><a data-placement="top" rel="tooltip" title="Not available yet" class="disabled" href="notifications">Notifications</a></li>
    <li><a data-placement="top" rel="tooltip" title="Your space memberships" href="spaces">Spaces</a></li>
    <!-- <li><a data-placement="top" title="Pages you've shared with people" href="/settings/public_pages">Shares</a></li> -->
    <li class="sticky-bottom">
      <button data-role="save" class="btn btn-block btn-primary">Save</button>
      <span class="shortcut">Ctrl+Alt+S</span>
    </li>
  </ul>
</nav>
