<%= erb :"users/settings/_nav" %>
<% content_for :js do %>
<script>
  $(function() {
    $("#check_availability").click(function() {
      var btn = $(this);
      $.ajax({
        url: "/users/nickname",
        type: "POST",
        data: { nickname: $("input[name=nickname]").attr("value") },
        before: ui.status.mark_pending,
        success: function(is_available) {
          is_available = JSON.parse(is_available);
          if (is_available) {
            btn.next("span").addClass("success").removeClass("error").html("available");
          } else {
            btn.next("span").addClass("error").removeClass("success").html("not available");
          }
        },
        complete: ui.status.mark_ready
      });
      return false;
    });
  });
</script>
<% end %>

<form action="/settings/nickname" method="POST">
  <section>
  <h2>Nickname</h2>
  <label>
    Your nickname is used in the links when sharing documents with people.
    <br />
    <br />
    <input type="text" name="nickname" class="very_fat" value="<%= current_user.nickname %>" />
    <button id="check_availability">check availability</button>
    <span></span>
  </label>
  <p>Links to your public pages will look something like this:
    <br />
    &rarr; <a><code>http://<%= request.host %>/<strong>your-nickname</strong>/<strong>page-title</strong></code></a>
  </p>
  <p><em><strong>Note: </strong> changing your nickname will irreversibly invalidate all the links
    you've shared with people. Change it only if you know what you're doing.</em></p>
  </section>

  <input type="submit" class="kinda_bad" value="Change Nickname" />
</form>

<!-- <hr /> -->

<form method="POST" action="/settings/password">
  <section>
    <h2>Changing your password</h2>

    <label>
      Your current password:<br />
      <input type="password" class="fat" name="password[current]" />
    </label>
    <br />
    
    <span>
      And a new one (type it twice to confirm it):<br />
    </span>
    <label>#1 &rarr; <input type="password" class="fat" name="password[new]" style="margin-bottom: 5px;" /></label>
    <br />
    <label>#2 &rarr; <input type="password" class="fat" name="password[confirmation]" /></label>

  </section>

  <br />
  <input type="submit" value="Update password" />
</form>