<% content_for :breadcrumbs do %>

  <div id="breadcrumbs">
    <a href="<%= @space.href %>">Home</a>

    <% @page.folder.ancestors.each do |f| %>
      &raquo;

      <% if f.id == @folder.id %>
        <span><%= f.title %></span>
      <% else %>
        <a href="<%= f.href %>"><%= f.title %></a>
      <% end %>

    <% end %>
  </div>

<% end %>