<div id="pages" class="resources">

  <div id="resource_actions" class="resource-actionbar actions">
    <!-- <a class="listlike new_resource icon new" tabindex="1" rel="tooltip" data-placement="right" title="Create a new page or folder">New</a> -->
    <a class="listlike with-arrow" rel="tooltip" data-placement="right" title="Create a new page or folder">File</a>
    <ol class="listlike">
      <li>
        <a href="#" id="new_page" rel="tooltip" data-placement="right" title="Create a new page (Ctrl+Alt+C)">
          <i class="icon-file"></i>
          New page
        </a>
      </li>
      <li>
        <a href="#" role="button" rel="tooltip" data-placement="right" data-toggle="modal" id="new_folder" title="Create a new folder (Ctrl+Alt+F)">
          <i class="icon-folder-close"></i>
          New folder
        </a>
      </li>
      <li><span class="title">Other</span></li>
      <li>
        <a href="<%= @space.url %>.zip" role="button" rel="tooltip" data-placement="right" data-toggle="modal" id="download_zip" title="Download this space as a ZIP file">
          <i class="icon-download"></i>
          Download as ZIP
        </a>
      </li>
    </ol>
  </div>

  <!-- the scroller is used to enforce a max-height and inject scrollbars when needed -->
  <div id="browser_scroller" class="scroller">
    <ul id="browser" class="browser">
      <li style="display: none;" class="folder" id="goto_parent_folder">
        <span class="folder_title"><span>..</span></span>
      </li>
    </ul>
  </div>
</div>
