<div id="pages" class="resources">

  <div id="resource_actions" class="resource-actionbar actions">
    <!-- <a class="listlike new_resource icon new" tabindex="1" rel="tooltip" data-placement="right" title="Create a new page or folder">New</a> -->
    <a class="listlike with-arrow" rel="tooltip" data-placement="right" title="Create a new page or folder">File</a>
    <ol class="listlike">
      <li>
        <a href="#" id="new_page" rel="tooltip" data-placement="right" title="Create a new page (Ctrl+Alt+C)">
          <i class="icon-file"></i>
          New page
        </a>
      </li>
      <li>
        <a href="#" role="button" rel="tooltip" data-placement="right" data-toggle="modal" id="new_folder" title="Create a new folder (Ctrl+Alt+F)">
          <i class="icon-folder-close"></i>
          New folder
        </a>
      </li>
      <li><span class="title">Other</span></li>
      <li>
        <a href="<%= @space.url %>.zip" role="button" rel="tooltip" data-placement="right" data-toggle="modal" id="download_zip" title="Download this space as a ZIP file">
          <i class="icon-download"></i>
          Download as ZIP
        </a>
      </li>
    </ol>

  </div>

  <!-- the scroller is used to enforce a max-height and inject scrollbars when needed -->
  <div id="browser_scroller" class="scroller">

    <ul id="browser" class="browser" style="display: none;">
      <li style="display: none;" class="folder goto-parent-folder" id="goto_parent_folder">
        <a class="folder-title"><i class="icon-arrow-up"></i>..</a>
      </li>
    </ul>
  </div>

  <div id="browser_actionbar" class="browser-actionbar">
    <input tabindex="-10" type="text" autocomplete="off" id="browser_input_capturer" class="input-capturer" />
    <div class="btn-group">
      <button id="edit_folder" rel="tooltip" title="Edit folder [F2]" data-placement="top" class="btn btn-mini"><i class="icon-edit"></i> </button>
      <button id="delete_folder" rel="tooltip" title="Delete folder [Delete]" data-placement="top" class="btn btn-mini"><i class="icon-trash"></i> </button>
    </div>

    <button id="show_browser_settings" rel="tooltip" title="Browser settings" data-placement="top" class="btn btn-mini browser-settings"><i class="icon-cog"></i> </button>
  </div>
</div>

<div id="browser_settings" class="browser-settings"></div>
