<% content_for :title do %> Creating a new space | PageHub <% end %>

<% content_for :js do %>
  <script>
    $(function() {
      // Checks whether the typed in space name is available
      $("#check_availability").click(function() {
        var btn = $(this);
        var name = $("input[name=name]").attr("value");

        if (name.length == 0) {
          btn.next("span").addClass("error").html("invalid name");
          return false;
        }

        $.ajax({
          url: "/spaces/name",
          type: "POST",
          data: { name: $("input[name=name]").attr("value") },

          success: function(is_available) {
            is_available = JSON.parse(is_available);
            console.log(is_available)
            if (is_available) {
              btn.next("span").addClass("success").removeClass("error").html("available");
            } else {
              btn.next("span").addClass("error").removeClass("success").html("not available");
            }
          }

        });
        return false;
      });
    });
  </script>
<% end %>

<h2>Space Registration</h2>

<p>Spaces in PageHub are a place for people to write, share, and present pages
  to each other, or to the public, in a customized way.
</p>

<p>Read more about spaces <a href="http://www.pagehub.org/pagehub/spaces">here</a>,
  or take a look at a live example of a space; the actual
  <a href="http://pagehub.org/pagehub">PageHub one</a>!
</p>

<form method="POST" action="/spaces">
  <h3>Name</h3>
  <p>
    <label for="space_title">The space name must be unique (and cool too.)</label>
    <div class="input-append">
      <input id="space_title" type="text" name="title" class="input-xlarge" placeholder="The Screwdrivers" />
      <button class="btn btn-success" id="check_availability"><i class="icon-ok"></i> </button>
    </div>
  </p>

  <h3>Brief</h3>
  <p>
    <label for="space_brief">A 1-line description of what this space is for.</label>
    <div>
      <input type="text" id="space_brief" name="brief" class="input-xxlarge" placeholder="Building nuclear plants with style">
    </div>
  </p>

  <h3>Public access</h3>
  <p>
    <label>
      <input type="checkbox" value="true" name="is_public" checked="checked" />
      Allow non-members to read and browse the space documents
      <small>(you can always change this later)</small>
    </label>
  </p>
  <!-- <br /> -->
  <input type="submit" class="btn btn-primary" value="Register Space" />

</form>
