<%= partial "/shared/_editor" %>
<% content_for :section do %>space_editor<% end %>
<% content_for :wraps do %>
  <div class="action_bar_wrap"></div>
<% end %>

<% content_for :deferred_js do %>
<script>
  require([ 'views/spaces/show' ],function(SpaceView) {
    application.view = new SpaceView(application);
  })
</script>
<% end %>

<div class="resizable-content">

  <%= partial "spaces/_browser" %>

  <div id="editor_container">
    <div id="page_actions" class="page-actionbar actions">
      <a href="#" class="icon save" rel="tooltip" title="Saves the content of this page (Ctrl+Alt+S)" id="save_page">Save</a>

      <a target="PageHub - Preview"
         class="icon preview"
         rel="tooltip"
         title="View the current page in prettified HTML mode in a new tab (Ctrl+Alt+V)"
         href=""
         id="preview">Pretty Version</a>

      <a href="#" id="edit_page" class="icon edit_page" rel="tooltip" title="Modify the page properties">Edit</a>
      <a href="#" id="destroy_page" class="confirm icon delete_page" title="Delete the page (Ctrl+Alt+D)">Delete</a>

      <a id="revisions" target="PageHub" class="icon history" rel="tooltip" title="View the history of this page">Revisions</a>

      <a class="listlike icon folder" data-placement="top" rel="tooltip" title="Move this page to a different folder"></a>
      <ol class="listlike" id="movement_listing">
      </ol>

    </div>
    <div class="input-prepend page-finder">
      <label class="btn"><i class="icon-search"></i> </label>
      <input type="text" id="page_finder" class="input-xxlarge" autocomplete="off" />
    </div>

    <div id="general_actionbar" class="general-actionbar actions">
      <a class="listlike icon more" data-placement="left" rel="tooltip" title="Workspace settings and actions">Workspace Actions</a>
      <ol class="listlike sticky">
        <li><span class="title"><strong>Workspace</strong></span></li>
        <li><a id="switch_layout" href="#" rel="tooltip" data-placement="left" title="Make the workspace span the entire screen">Fluid workspace</a>
        </li>
        <li>
          <a id="switch_scrolly" href="#" rel="tooltip" data-placement="left" title="Disable scrolling in the browser and the editor">No scrolling</a>
        </li>
        <li>
          <a id="switch_animability" href="#" rel="tooltip" data-placement="left" title="Widgets will update faster but will no longer be animated">No animations</a>
        </li>
        <li><span class="title"><strong>Editor</strong></span></li>
        <li><a href="#" data-placement="left" rel="tooltip" title="Increase the height of the editor" id="increase_height">Grow</a></li>
        <li><a href="#" data-placement="left" rel="tooltip" title="Decrease the height of the editor" id="decrease_height">Shrink</a></li>
        <li><a href="#" data-placement="left" rel="tooltip" title="Refresh the editor if it's stuck or acting funny (Ctrl+Alt+R)" id="refresh_editor">Refresh</a></li>
      </ol>
    </div>
    <textarea id="page_editor">Load or create a new page to begin.</textarea>
  </div>

</div>