<% content_for :title do %> Group Registration | PageHub <% end %>

<% content_for :js do %>
  <script>
    $(function() {
      // Checks whether the typed in group name is available
      $("#check_availability").click(function() {
        var btn = $(this);
        var name = $("input[name=name]").attr("value");

        if (name.length == 0) {
          btn.next("span").addClass("error").html("invalid name");
          return false;
        }

        $.ajax({
          url: "/groups/name",
          type: "POST",
          data: { name: $("input[name=name]").attr("value") },

          success: function(is_available) {
            is_available = JSON.parse(is_available);
            console.log(is_available)
            if (is_available) {
              btn.next("span").addClass("success").removeClass("error").html("available");
            } else {
              btn.next("span").addClass("error").removeClass("success").html("not available");
            }
          }

        });
        return false;
      });
    });
  </script>
<% end %>

<h1>Group Registration</h1>

<p>Groups in PageHub are useful for a group of people to write, share, and present pages
  to each other, or to the public, in a customized way.
</p>

<p>Read more about groups <a href="http://www.pagehub.org/pagehub/groups">here</a>,
  or take a look at a live example of a group; the actual
  <a href="http://pagehub.org/pagehub">PageHub one</a>!
</p>

<form method="POST" action="/groups">
  <h2>Name</h2>
  <label>The group name must be unique, and cool too.
    <br /><br />
    <input type="text" name="name" class="very_fat" placeholder="The Screwdrivers" />
    <button id="check_availability">check availability</button>
    <span></span>
  </label>

  <h2>Public access</h2>
  <label>
    <input type="checkbox" value="true" name="is_public" />
    Allow non-members to read and browse the group documents
    <small>(don't worry, you can always change this later)</small>
  </label>

  <hr />
  <p class="sidetip"><em>Note:</em>
    you will get to manage the group settings and members once you register it.</p>
  <input type="submit" value="Register Group" />

</form>
