<h2>Verification pending</h2>

<p>It seems like a verification email for the address '<%= @address %>' has already been sent. Would you like
  to <a href="/settings/verify/<%= @type %>?redispatch=true">send another</a>?
</p>
