body.antimatter {
  background: #111;
  color: #fff;
    font-family: "Avenir-Webfont", "Avenir", "Droid Sans", "DroidSansRegular", Corbel, Tahoma, Geneva, sans-serif;
  line-height: 1.5em;
}

h1 {
  color: #fff;
}

h2,h3 {
  color: #7B97A4;
}
h4,h5,h6 {
  color: #869BA4;
}

a, a:visited {
  color: #869BA4;
  text-decoration: underline;
}
a:hover {
  color: white;
}

hr {
  border-color: #333;
}

.antimatter code,
.antimatter .highlight pre {
  background: rgba(0,0,0,0.75);
  border-color: #222;
}

.fluid .scope_title {
  background: #293338;
  /*box-shadow: 0 0 10px 2px white inset;*/
}
.easy .scope_title {
  border-bottom: 1px solid #293338;
}
.easy .sidebar {
  border-left: 1px solid #293338;
}

div.highlight {
  background: #000;
}

blockquote {
  color: #777;
}