body {
  background: #FFF;
  color: #615B4E;
}

h1,h2 {
  font-weight: normal;
}

h2, .nav_links a {
  color: #008CDD;
}

code {
  letter-spacing: 1px;
}

a {
  color: #333;
  text-decoration: underline;
}
a:hover {
  color: #AAA;
  text-decoration: underline;
}

hr {
  box-shadow: none;
  border-top: none;
  border-color: #ccc;
}

.highlight .nt { color: #5E8C6A; }
.highlight .cp { color: #555;}

.fluid .scope_title {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
}

.scope_title a {
  text-decoration: none;
}

.fluid .sidebar {
  text-shadow: 0 1px 0 #fff;
  /*background: url(/images/bgs/pw_maze_white/pw_maze_white.png) repeat;*/
  border-right: 1px solid #CCC;
}

.easy .scope_title,
.focused .page_title {
  border-bottom: 1px solid #ccc;
}
.easy .sidebar {
  border-left: 1px solid #ccc;
}

a.selected,
a.selected:hover {
  text-decoration: none;
}

.fluid .page_title {
  border-bottom: 1px solid #ccc;
}

em.small {
  color: #777;
}

