 /*"FFF", "615B4E", "E94E77", "8FBE00", "333"*/

 body {
  background: #FFF;
  color: #615B4E;
}

.stuff {
  background: none;
  box-shadow: none;
  border: none;
}

header h1 a {
  color: #E94E77;
}

h1 {
  color: #E94E77;
}

h2 {
  color: #8FBE00;
}

h3, a {
  color: #333;
}

a {
  text-decoration: underline;
}

hr {
  box-shadow: none;
  border-color: #aaa;
}

.highlight .nt { color: #5E8C6A; } /* Name.Tag */
.highlight .cp { color: #555;}

#content {
  padding-bottom: 0;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
  margin: 15px 0;
}