/*
  bg: #443a34;
  fg: #F4FAD2;
  h1: #E94E77;
  h2: #D4EE5E;
  h3, a: #F0AD11;
*/

body {
  background: #443a34;
  color: #F4FAD2;
}

h1 {
  color: #BAE2EE;
}

h2 {
  color: #D4EE5E;
}

h3,a, a:visited {
  color: #F0AD11;
}

blockquote {
  padding: 5px 15px;
  background: rgba(0,0,0,0.2);
  border-left-color: rgba(0,0,0,0.5);
  /*color: #aaa;*/
}

code {
  background: #332c27;
  border-width: 0;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 1px;
}

div.highlight {
  background-color: #332c27;
}