<ul class="subnav">
  <li><a href="publishing/layout">Layout</a></li>
  <li><a href="publishing/theme">Theme</a></li>
  <li><a href="publishing/navigation_links">Navigation Links</a></li>
  <li><a href="publishing/custom_css">Custom CSS</a></li>
</ul>