<% content_for :subnav do %>
  <li><a href="layout">Layout</a></li>
  <li><a href="theme">Theme</a></li>
  <li><a href="navigation_links">Navigation Links</a></li>
  <li><a href="custom_css">Custom CSS</a></li>
<% end %>

<%= partial "spaces/settings/_nav" %>
