<div title="Confirmation required">
  <p>
    <strong>WARNING: </strong>
    changing the space name will irreversibly invalidate
    all public links of the space's pages that were shared
    with members or people.
  </p>
  <p>Are you sure you want to do this?</p>
</div>