<div class="input-append">
  <!-- <div > -->
    <input class="span4" placeholder="http://www.website.com" type="text" name="navigation_links[uris][]" value="{{{uri}}}" />
    <input class="span2" placeholder="Main Website" type="text" name="navigation_links[titles][]" value="{{{title}}}" />
    <button rel="tooltip" class="btn btn-danger" title="Remove this link" data-placement="right"><i class="icon-remove"></i> </button>
  <!-- </div> -->
</div>