<div>
  <label><input placeholder="http://www.website.com" type="text" name="navigation_links[uris][]" value="{{{uri}}}" /></label>
  <label><input placeholder="Main Website" type="text" name="navigation_links[titles][]" value="{{{title}}}" /></label>
  <button rel="tooltip" class="icon remove" title="Remove this link" data-placement="right"></button>
</div>