<% content_for :title do %> Features | PageHub <% end %>

<div class="features">

<markdown>
### Markdown Extensions

PageHub extends the Markdown syntax and renderer to provide you
with powerful utility features that will, hopefully, make the
documentation process a bit smoother.

The extensions include things like: dynamically embedding code snippets
(or fully-fledged pages) from GitHub (or anywhere), generating a
Table of Contents automatically for your lengthy articles,
injecting dynamic dates, etc.

### Folders, projects, spaces - you name it

Group up your documents within a - technically infinite -
hierarchy of folders that are presented to people in a
linked, Wiki-like way. [Read more](http://pagehub.org/pagehub/features/folders)
about folder support.

### Version control

All your pages are revisioned and you can roll back to any
revision snapshot at any time, as well as view the changes
between each revision along with their author.

### Group support

Aside of your own personal space of pages, you can create
groups where any number of people can collaboratively create,
edit, review, and share pages.

### **Keybindings**

Actions that you'll do regularly such as saving and
previewing can be quickly done using
[keybindings](http://www.pagehub.org/pagehub/keybindings).

### **Customizable everything**

PageHub offers several built-in themes for the rendered
versions of your pages. It also lets you customize things
like text justification, the page width, etc.

The editor is also customizable in its font face,
size, and line-height.

### **Autosaving**

Every 30 seconds as you're editing a page, PageHub will
automatically save it for you. It's even smart enough to
remember how you left each folder; collapsed or not.

### **Syntax highlighting**

Thanks to [CodeMirror](http://codemirror.net) being awesome,
the editor supports real-time highlighting of the Markdown you
write as well as, to an extent, code written in other languages.

Rendered versions also include a syntax formatter and highlighter.

### It's Open-Source!

You can check out the [source code on GitHub](https://github.com/amireh/pagehub)
and host it yourself if you'd like to. PageHub is currently
hosted on my own personal server and would probably not be
able to hold much traffic.

*****

And here's what's planned for future revisions:

  * Syncing from git repositories and local documents for offline editing
  * Collaborative editing
</markdown>
<br />

</div>