<div class="greeting">
<markdown>
  # IN A NUTSHELL

  PageHub is an editing platform built to aid developers
  in writing documentation for their software.

  # <span>IT'S</span> CLEAN

  An interface that doesn't get in your way, one that screams "writing" all over.

  # <span>IT'S</span> EFFICIENT

  Write using [Markdown](http://daringfireball.net/projects/markdown/).
  Use your keyboard for action shortcuts just like you would with your desktop editor.

  # <span>IT'S</span> GEEKY

  Loaded with neat [features](/features) to help you write your software
  documentation and keep it up to date.

  ---

  # Getting Started

  You've got three options:

    1. Try out the [instant demo](/demo)
    2. Sign in using your [GitHub account](/auth/github)
    3. Create a [PageHub account](/signup)

</markdown>
</div>