<% content_for :title do %> Sign in | PageHub <% end %>

<form action="/sessions" method="POST">
  <fieldset class="form-horizontal">
    <legend>Sign in</legend>

    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" id="email" placeholder="your@email.com" name="email" />
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Your password</label>
      <div class="controls">
        <input type="password" autocomplete="off" id="password" name="password" />
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="Login" />
      </div>
    </div>
  </fieldset>
</form>