<% content_for :section     do %>dashboard<% end %>
<% content_for :nav_section do %>dashboard<% end %>
<% content_for :deferred_js do %>
<script>
  require([ 'views/users/dashboard' ], function(Dashboard) {
    application.view = new Dashboard(application);
  });
</script>
<% end %>

<h2>Your spaces</h2>

<div class="gridster">
  <ul>
  </ul>
</div>