<h2>Sign up for a PageHub account</h2>

<form action="/signup" method="POST">
  <label>
    Your email:<br />
    <input class="very_fat" type="text" name="email" />
  </label>
  <br />
  <label>
    Your name:<br />
    <input class="very_fat" type="text" name="name" />
  </label>
  <br />  

  <!-- <label>
    And some password:<br />
    <input class="very_fat" type="password" name="password" />
  </label> -->
    <span>
      And a password (type it twice to confirm it):<br />
    </span>
    <label>#1 &rarr; <input type="password" class="fat" name="password" style="margin-bottom: 5px;" /></label>
    <br />
    <label>#2 &rarr; <input type="password" class="fat" name="password_confirmation" /></label>

  <br />  
  <br />
  <input type="submit" value="Sign up to PageHub!" />
  <br />
  <br />
</form>