<% content_for :title do %> Sign up | PageHub <% end %>


<form id="user_signup" action="/users" method="POST">
  <fieldset class="form-horizontal">
    <legend>Sign up for a PageHub account</legend>

    <div class="control-group">
      <label class="control-label" for="nickname">Nickname</label>
      <div class="controls">
        <input type="text" placeholder="gorilla-fighter" id="nickname" name="nickname" />
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="email" id="email" placeholder="your@email.com" name="email" />
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Your password</label>
      <div class="controls">
        <input type="password" autocomplete="off" id="password" name="password" />
        <span class="help-inline"></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password_confirmation">Your password, again</label>
      <div class="controls">
        <input type="password" autocomplete="off" id="password_confirmation" name="password_confirmation" />
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary btn-large" value="Sign up to PageHub!" />
      </div>
    </div>
  </fieldset>
</form>

<hr />

<p><span class="label label-important">Heads up!</span>
  PageHub uses HTML5, CSS3, and JavaScript and requires an <em>up-to-date</em> browser like
  <strong>Chrome</strong>, <strong>Safari</strong>, or <strong>Firefox</strong>.
</p>