<form action="/signup" method="POST">
  <label>
    Your email:<br />
    <input type="email" name="email" />
  </label>
  <br />
  <label>
    Your name:<br />
    <input type="text" name="name" />
  </label>
  <br />  

  <label>
    And some password:<br />
    <input type="password" name="password" />
  </label>
  <br />  
  <br />
  <input type="submit" value="Sign up to Naughty!" />
  <br />
  <br />
</form>