<% content_for :title do %> Sign up | PageHub <% end %>


<form id="user_signup" action="/users" method="POST">
  <h2>Sign up for a PageHub account</h2>

  <label>
    Your email:<br />
    <input class="very_fat" type="text" name="email" />
  </label>
  <br />
  <label>
    Your name:<br />
    <input class="very_fat" type="text" name="name" />
  </label>
  <br />

  <!-- <label>
    And some password:<br />
    <input class="very_fat" type="password" name="password" />
  </label> -->
    <span>
      And a password (type it twice to confirm it):<br />
    </span>
    <label>#1 &rarr; <input autocomplete="off" type="password" class="fat" name="password" style="margin-bottom: 5px;" /></label>
    <br />
    <label>#2 &rarr; <input autocomplete="off" type="password" class="fat" name="password_confirmation" /></label>

  <br />
  <br />
  <input type="submit" value="Sign up to PageHub!" />
  <br />
  <br />
</form>
<div class="browser_notice">
  <p>
    <h2>Notice</h2>
    <p>PageHub uses HTML5, CSS3, and JavaScript and requires an <em>up-to-date</em> browser. Officially
      supported browsers are:
      <ul>
        <li>Google Chrome</li>
        <li>Mozilla Firefox</li>
      </ul>
    </p>
    <img src="/images/html5-badge-v-css3-semantics.png"
       width="38"
       height="138"
       alt="HTML5 Powered with CSS3 / Styling, and Semantics"
       rel="tooltip"
       title="HTML5 Powered with CSS3 / Styling, and Semantics" />
  </p>
</div>