@import "skins/light";

@mixin disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-user-select: -moz-none;
  -ms-touch-action: none;
}

@mixin transition($property, $duration, $type, $delay) {
  -webkit-transition: $property $duration $type $delay;
  -moz-transition:    $property $duration $type $delay;
  -ms-transition:     $property $duration $type $delay;
  -o-transition:      $property $duration $type $delay;
  transition:         $property $duration $type $delay;
}

@mixin no-transition {
  -moz-transition:    none;
  -webkit-transition: none;
  -o-transition:      color 0 ease-in;
  -ms-transition:     none;
  transition:         none;
}

@mixin highlight() {
  color:            $highlight_fg;
  background-color: $highlight_bg;
}

@mixin box-shadow($left, $right, $blur, $width: 0, $color: rgba(0,0,0,0)) {
  -webkit-box-shadow: $left $right $blur $width $color;
  -moz-box-shadow:    $left $right $blur $width $color;
  -ms-box-shadow:     $left $right $blur $width $color;
  -o-box-shadow:      $left $right $blur $width $color;
  box-shadow:         $left $right $blur $width $color;
}