// require twitter_bootstrap
//= require vendor/jquery-ui/pagehub-jqueryui/jquery-ui-1.10.1.custom.min
//= require vendor/jquery.gridster
//= require revisions
//= require settings

.ui-dialog .ui-widget-content a {
  color: #008CDD;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0.3em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 0.4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em 0em 0.4em;
}
.ui-dialog .ui-dialog-buttonpane button:last-of-type {
  float: right;
}

.dashboard {
  .gridster {
    margin-left: -20px;
    margin-right: 0;

    li:not([data-sizex="1"]) {
      .stats {
        line-height: 26px;
        min-height: inherit;
        max-height: inherit;
      }
    }

    li {
      background: #fafafa;
      border: 1px solid #eee;

      text-align: center;

      .emblems {
        position: absolute;
        z-index: 1;

        left: 0;
        bottom: 36px;
        padding: 2px;
        background: rgba(0,0,0,0.0325);
        /*height: 100%;*/
        width: 100%;
        /*border: 1px solid #eee;*/
        border-radius: 2px 0 0 2px;
        border-right: none;
        display: block;

        .emblem {
          width:  24px;
          height: 24px;
          display: inline-block;
          opacity: 0.5;
          position: relative;
          z-index: 10;
        }
        .owned {  background: url(/assets/icons/24x24/star.png)   no-repeat center center; }
        .public { background: url(/assets/icons/24x24/unlock.png) no-repeat center center; }
        .private { background: url(/assets/icons/24x24/lock.png)  no-repeat center center; }

      }

      .meta {
        &, a {
          display: block;
          height: 100%;
          width: 100%;
        }

        a {
          text-shadow: 0 1px 0 white;
          padding: 10px;

          &:hover {
            background: orange;
            color: white;
            text-shadow: none;
          }
        }
      }

      .stats {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        font-size: 0.75em;
        line-height: 1.25em;
        border-top: 1px solid #eee;
        background: white;
        width: 100%;
        padding: 5px;
        z-index: 10;
        min-height: 36px;
        max-height: 36px;
        span {
          display: inline-block;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}