
  /* Default theme */
  .cm-s-default span.cm-keyword {color: #708;}
  .cm-s-default span.cm-atom {color: #219;}
  .cm-s-default span.cm-number {color: #164;}
  .cm-s-default span.cm-def {color: #00f;}
  .cm-s-default span.cm-variable {color: black;}
  .cm-s-default span.cm-variable-2 {color: #05a;}
  .cm-s-default span.cm-variable-3 {color: #085;}
  .cm-s-default span.cm-property {color: black;}
  .cm-s-default span.cm-operator {color: black;}
  .cm-s-default span.cm-comment {color: #a50;}
  .cm-s-default span.cm-string {color: #a11;}
  .cm-s-default span.cm-string-2 {color: #f50;}
  .cm-s-default span.cm-meta {color: #555;}
  .cm-s-default span.cm-error {color: #f00;}
  .cm-s-default span.cm-qualifier {color: #555;}
  .cm-s-default span.cm-builtin {color: #30a;}
  .cm-s-default span.cm-bracket {color: #cc7;}
  .cm-s-default span.cm-tag {color: #170;}
  .cm-s-default span.cm-attribute {color: #00c;}
  .cm-s-default span.cm-header {color: blue;}
  .cm-s-default span.cm-quote {color: #090;}
  .cm-s-default span.cm-hr {color: #999;}
  .cm-s-default span.cm-link {color: #00c;}
  span.cm-header, span.cm-strong {font-weight: bold;}
  span.cm-em {font-style: italic;}
  span.cm-emstrong {font-style: italic; font-weight: bold;}
  span.cm-link {text-decoration: underline;}
  span.cm-invalidchar {color: #f00;}
  div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
  div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
  .cm-s-neat span.cm-comment { color: #a86; }
  .cm-s-neat span.cm-keyword { line-height: 1em; font-weight: bold; color: blue; }
  .cm-s-neat span.cm-string { color: #E2403D; }
  .cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
  .cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
  .cm-s-neat span.cm-variable { color: black; }
  .cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
  .cm-s-neat span.cm-meta {color: #555;}
  .cm-s-neat span.cm-link { color: #3a3; }