body.guest {

  .content-wrapper {
    /*width: 800px;*/
    margin: 0 auto;
  }

  header {
    padding: 5px 0 6px 0;
    height: auto;

    nav {
      position: relative;
      display: inline-block;
      margin-left: 0px;

      a,
      a:visited {
        /*font-weight: bold;*/
        display: inline-block;
        width: auto;
        margin-left: 10px;

        &.btn {
          text-shadow: none;
          &:hover { color: black; }
        }
      }

      &:last-of-type {
        position: absolute;
        right: 0;
        top: 8px;
      }
    }

    img {
      margin-left: -15px;
    }
  }

  .block {
    width: 45%;
    clear: none;
    vertical-align: top;
  }

  .block.left {
    float: left;
  }
  .block.right {
    float: right;
  }

  .block {
    width: 45%;
    display: inline-block;
  }
  .spanner {
    display: block;
    width: 100%;
    clear: both;
  }

  .features h2 {
    text-transform: capitalize;
  }

  form#user_signup {
    display: inline-block;
    vertical-align: top;
  }

  span#login_buttons a {
    display: inline-block;
    width: 195px;
    width: 70px;
    height: 54px;
    line-height: 54px;
    text-align: right;
    font-size: 0;
  }
  /* Facebook login */
  /*body#content span#login_buttons a:first-of-type {
    background: url(/images/54_facebook.png) no-repeat 0 center;
  }*/

  /* GitHub login */
  span#login_buttons a:nth-of-type(1) {
    background: url(/images/64_github.png) no-repeat 5px center;
    padding-left: 70px;
    margin: 0;
  }
  /* Twitter login */
  /*body#content span#login_buttons a:last-of-type {
    background: url(/images/64_twitter.png) no-repeat 10px center;
    padding-left: 70px;
    margin: 0;
  }*/

  div.greeting {
    position: relative;

    > h3 > span {
      color: #aaa;
      /*position: absolute;*/
      /*left: 10px;*/
    }
  }

  .landing-page {
    .pagination {
      background: black;
      a {
        width: 15px;
        height: 15px;
        display: inline-block;
      }
    }
  }
}