body.guest {
  .stuff {
    width: 720px;
  }

  #content {
    text-align: justify;
    /*width: 480px;*/
    /*width: 640px;*/
    margin: 0 auto;
  }

  body {
    /*font-family: "ProximaNova-Light", Arial, Verdana;*/
    /*font-size: 15px;*/
    font-weight: 100;
  }
  header{
    background: none;
    border-bottom: none;
    height: inherit;
  }

  .sidebar, #content {
    vertical-align: top;
  }

  .sidebar {
    width: 240px;
    display: inline-block;
    margin-left: 15px;
    border-left: 1px solid #ddd;
    padding: 0 0 0 15px;
  }

  header h1 a,
  header h1 a:visited {
    font-weight: bold;
    letter-spacing: 10px;
    color: #008CDD;
    text-shadow: 0 2px 0 white;
    margin-right: -13px;
  }

  #content {
    width: 460px;
    display: inline-block;
  }

  header img {
    margin-left: -15px;
  }
  #flashes {
    width: 640px;
    margin-left: -20px;
    padding: 5px 10px;
  }

  nav.top {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    clear:  both;
    padding: 0;
    a {
      padding: 0;
      line-height: 40px;
      height: 40px;
      vertical-align: middle;
      height: auto;
      display: inline-block;

      &:last-of-type {
        float: right;
        margin-right: 50px;
      }
    }
  }

  .block {
    width: 45%;
    clear: none;
    vertical-align: top;
  }
  .block.left {
    float: left;
  }
  .block.right {
    float: right;
  }

  .block {
    width: 45%;
    display: inline-block;
  }
  .spanner {
    display: block;
    width: 100%;
    clear: both;
  }

  .features h2 {
    text-transform: capitalize;
  }

  form#user_signup {
    display: inline-block;
    vertical-align: top;
  }
  div.browser_notice {
    /*padding-left: 163px;*/
    position: relative;
    width: 220px;
    display: inline-block;
    /*margin-left: 15px;*/
    /*background: rgba(0,0,0,0.05);*/
    padding: 0 40px 0 0;
    /*box-shadow: 0 0 3px 1px #aaa;*/
    /*border-radius: 5px;*/
    font-size: 0.9em;
    text-align: left;
  }
  div.browser_notice img {
    vertical-align: middle;
    display: block;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
  }

  span#login_buttons a {
    display: inline-block;
    width: 195px;
    width: 70px;
    height: 54px;
    line-height: 54px;
    text-align: right;
    font-size: 0;
  }
  /* Facebook login */
  /*body#content span#login_buttons a:first-of-type {
    background: url(/images/54_facebook.png) no-repeat 0 center;
  }*/

  /* GitHub login */
  span#login_buttons a:nth-of-type(1) {
    background: url(/images/64_github.png) no-repeat 5px center;
    padding-left: 70px;
    margin: 0;
  }
  /* Twitter login */
  /*body#content span#login_buttons a:last-of-type {
    background: url(/images/64_twitter.png) no-repeat 10px center;
    padding-left: 70px;
    margin: 0;
  }*/

  nav.top {
    display: block;
    height: 40px;
    padding-right: 40px;
  }

  div.greeting > h1 > span {
    color: #aaa;
    position: absolute;
    left: -80px;
  }

  .sidebar {
    nav { list-style-type: none; padding: 0; margin: 0;}
  }

  footer { border: none; }
  footer > p { width: 720px;}

}