[class^="icon-large"] {
  background-image:  url(/assets/icons/glyphicons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 38px;
  height: 32px;
}
.icon-large-cogwheels { background-position: -38px 2px; }
.icon-large-cars { background-position: -37px -3px; }
.icon-large-truck { background-position: -73px -2px; }
.icon-large-fins { background-position: -111px -2px; }
.icon-large-fishes { background-position: -147px -1px; }
.icon-large-bus { background-position: -187px -3px; }
.icon-large-group { background-position: -227px -5px; }
.icon-large-smoking { background-position: -261px -2px; }
.icon-large-snowflake { background-position: -299px -2px; }
.icon-large-birthday_cake { background-position: -336px -1px; }
.icon-large-pizza { background-position: -374px -1px; }
.icon-large-eye_close { background-position: -415px -4px; }
.icon-large-folder_lock { background-position: -451px -3px; }
.icon-large-umbrella { background-position: -488px -2px; }
.icon-large-folder_minus { background-position: -528px -3px; }
.icon-large-parents { background-position: -567px -5px; }
.icon-large-inbox_plus { background-position: -603px -2px; }
.icon-large-database_plus { background-position: -641px -2px; }
.icon-large-wifi { background-position: -681px -4px; }
.icon-large-database_lock { background-position: -716px -2px; }
.icon-large-database_minus { background-position: -755px -2px; }
.icon-large-bicycle { background-position: -2px -27px; }
.icon-large-inbox_minus { background-position: -33px -30px; }
.icon-large-screenshot { background-position: -71px -30px; }
.icon-large-embed_close { background-position: -110px -28px; }
.icon-large-retweet_2 { background-position: -150px -27px; }
.icon-large-heat { background-position: -186px -29px; }
.icon-large-folder_plus { background-position: -224px -29px; }
.icon-large-tags { background-position: -262px -28px; }
.icon-large-inbox_lock { background-position: -298px -30px; }
.icon-large-claw_hammer { background-position: -337px -29px; }
.icon-large-sweater { background-position: -376px -28px; }
.icon-large-database_ban { background-position: -412px -30px; }
.icon-large-home { background-position: -451px -29px; }
.icon-large-playlist { background-position: -490px -28px; }
.icon-large-iphone_transfer { background-position: -528px -28px; }
.icon-large-projector { background-position: -565px -29px; }
.icon-large-router { background-position: -603px -29px; }
.icon-large-iphone_exchange { background-position: -642px -28px; }
.icon-large-warning_sign { background-position: -680px -28px; }
.icon-large-ban { background-position: -716px -29px; }
.icon-large-circle_remove { background-position: -754px -29px; }
.icon-large-wifi_alt { background-position: -6px -61px; }
.icon-large-display { background-position: -33px -60px; }
.icon-large-bomb { background-position: -71px -61px; }
.icon-large-folder_new { background-position: -109px -60px; }
.icon-large-folder_flag { background-position: -147px -61px; }
.icon-large-circle_arrow_left { background-position: -184px -61px; }
.icon-large-message_plus { background-position: -224px -60px; }
.icon-large-circle_arrow_right { background-position: -260px -61px; }
.icon-large-circle_ok { background-position: -298px -61px; }
.icon-large-circle_arrow_top { background-position: -336px -61px; }
.icon-large-message_lock { background-position: -375px -60px; }
.icon-large-circle_arrow_down { background-position: -412px -61px; }
.icon-large-circle_minus { background-position: -450px -61px; }
.icon-large-folder_open { background-position: -490px -59px; }
.icon-large-circle_plus { background-position: -526px -61px; }
.icon-large-crop { background-position: -564px -61px; }
.icon-large-pin_flag { background-position: -604px -59px; }
.icon-large-play_button { background-position: -640px -61px; }
.icon-large-snorkel_diving { background-position: -679px -61px; }
.icon-large-message_out { background-position: -715px -62px; }
.icon-large-message_in { background-position: -753px -62px; }
.icon-large-message_full { background-position: -7px -94px; }
.icon-large-message_minus { background-position: -34px -92px; }
.icon-large-fast_food { background-position: -71px -92px; }
.icon-large-adjust { background-position: -108px -93px; }
.icon-large-headset { background-position: -145px -94px; }
.icon-large-upload { background-position: -184px -93px; }
.icon-large-circle_question_mark { background-position: -222px -93px; }
.icon-large-message_empty { background-position: -259px -94px; }
.icon-large-download { background-position: -298px -93px; }
.icon-large-circle_info { background-position: -336px -93px; }
.icon-large-keyboard_wired { background-position: -375px -93px; }
.icon-large-circle_exclamation_mark { background-position: -412px -93px; }
.icon-large-hand_saw { background-position: -450px -93px; }
.icon-large-remove { background-position: -488px -93px; }
.icon-large-roundabout { background-position: -526px -93px; }
.icon-large-ok { background-position: -564px -93px; }
.icon-large-message_ban { background-position: -604px -92px; }
.icon-large-road { background-position: -641px -92px; }
.icon-large-text_resize { background-position: -678px -93px; }
.icon-large-alarm { background-position: -717px -93px; }
.icon-large-ax { background-position: -755px -92px; }
.icon-large-baseball { background-position: -6px -125px; }
.icon-large-pie_chart { background-position: -32px -125px; }
.icon-large-charts { background-position: -71px -124px; }
.icon-large-dog { background-position: -108px -125px; }
.icon-large-cart_out { background-position: -146px -125px; }
.icon-large-vector_path_polygon { background-position: -184px -125px; }
.icon-large-scissors { background-position: -221px -126px; }
.icon-large-t_shirt { background-position: -261px -124px; }
.icon-large-cardio { background-position: -298px -125px; }
.icon-large-history { background-position: -336px -125px; }
.icon-large-direction { background-position: -374px -125px; }
.icon-large-cargo { background-position: -412px -125px; }
.icon-large-classic_hammer { background-position: -450px -125px; }
.icon-large-crown { background-position: -488px -125px; }
.icon-large-rotation_lock { background-position: -527px -124px; }
.icon-large-stroller { background-position: -564px -125px; }
.icon-large-refresh { background-position: -602px -125px; }
.icon-large-stats { background-position: -640px -125px; }
.icon-large-scuba_diving { background-position: -679px -124px; }
.icon-large-text_height { background-position: -716px -124px; }
.icon-large-font { background-position: -755px -124px; }
.icon-large-keynote { background-position: -9px -159px; }
.icon-large-stopwatch { background-position: -31px -158px; }
.icon-large-soccer_ball { background-position: -70px -157px; }
.icon-large-bullets { background-position: -109px -156px; }
.icon-large-playing_dices { background-position: -147px -156px; }
.icon-large-sort { background-position: -184px -157px; }
.icon-large-temple_buddhist { background-position: -223px -155px; }
.icon-large-volume_up { background-position: -259px -157px; }
.icon-large-coins { background-position: -298px -156px; }
.icon-large-tablet { background-position: -336px -157px; }
.icon-large-building { background-position: -373px -157px; }
.icon-large-riflescope { background-position: -412px -157px; }
.icon-large-message_flag { background-position: -451px -156px; }
.icon-large-zoom_in { background-position: -488px -157px; }
.icon-large-inbox_out { background-position: -525px -157px; }
.icon-large-zoom_out { background-position: -564px -157px; }
.icon-large-message_new { background-position: -603px -155px; }
.icon-large-user_add { background-position: -641px -155px; }
.icon-large-inbox_in { background-position: -677px -157px; }
.icon-large-restart { background-position: -716px -157px; }
.icon-large-sheriffs_star { background-position: -753px -157px; }
.icon-large-cart_in { background-position: -6px -188px; }
.icon-large-paperclip { background-position: -32px -188px; }
.icon-large-keys { background-position: -69px -189px; }
.icon-large-star { background-position: -108px -188px; }
.icon-large-pot { background-position: -147px -187px; }
.icon-large-tea_kettle { background-position: -184px -188px; }
.icon-large-shopping_cart { background-position: -222px -188px; }
.icon-large-podium { background-position: -261px -187px; }
.icon-large-gift { background-position: -297px -189px; }
.icon-large-leaf { background-position: -335px -189px; }
.icon-large-cleaning { background-position: -373px -189px; }
.icon-large-celebration { background-position: -411px -189px; }
.icon-large-tint { background-position: -449px -189px; }
.icon-large-ipad { background-position: -486px -190px; }
.icon-large-dislikes { background-position: -526px -188px; }
.icon-large-fabric { background-position: -565px -187px; }
.icon-large-temple_islam { background-position: -602px -188px; }
.icon-large-shopping_bag { background-position: -639px -189px; }
.icon-large-airplane { background-position: -677px -189px; }
.icon-large-anchor { background-position: -715px -189px; }
.icon-large-spray { background-position: -752px -190px; }
.icon-large-cloud_download { background-position: -5px -219px; }
.icon-large-temple_christianity_church { background-position: -31px -221px; }
.icon-large-repeat { background-position: -69px -221px; }
.icon-large-sampler { background-position: -109px -219px; }
.icon-large-oxygen_bottle { background-position: -144px -222px; }
.icon-large-forrst { background-position: -183px -220px; }
.icon-large-badoo { background-position: -221px -220px; }
.icon-large-pencil { background-position: -259px -220px; }
.icon-large-spotify { background-position: -297px -220px; }
.icon-large-quora { background-position: -335px -220px; }
.icon-large-hospital_h { background-position: -373px -220px; }
.icon-large-hospital { background-position: -411px -220px; }
.icon-large-vector_path_circle { background-position: -449px -220px; }
.icon-large-french_press { background-position: -487px -221px; }
.icon-large-vector_path_line { background-position: -525px -220px; }
.icon-large-4square { background-position: -563px -220px; }
.icon-large-search { background-position: -601px -220px; }
.icon-large-skitch { background-position: -639px -220px; }
.icon-large-vector_path_curve { background-position: -677px -220px; }
.icon-large-eyedropper { background-position: -715px -220px; }
.icon-large-table { background-position: -753px -220px; }
.icon-large-instapaper { background-position: -7px -252px; }
.icon-large-vector_path_all { background-position: -31px -252px; }
.icon-large-github { background-position: -69px -252px; }
.icon-large-binoculars { background-position: -107px -252px; }
.icon-large-evernote { background-position: -145px -252px; }
.icon-large-stumbleupon { background-position: -183px -252px; }
.icon-large-youtube { background-position: -221px -252px; }
.icon-large-resize_small { background-position: -259px -252px; }
.icon-large-behance { background-position: -297px -252px; }
.icon-large-resize_full { background-position: -335px -252px; }
.icon-large-brightness_increase { background-position: -373px -252px; }
.icon-large-readability { background-position: -411px -252px; }
.icon-large-random { background-position: -451px -250px; }
.icon-large-facebook { background-position: -487px -252px; }
.icon-large-cogwheel { background-position: -525px -252px; }
.icon-large-twitter { background-position: -563px -252px; }
.icon-large-move { background-position: -601px -252px; }
.icon-large-instagram { background-position: -639px -252px; }
.icon-large-xing { background-position: -677px -252px; }
.icon-large-bin { background-position: -713px -254px; }
.icon-large-global { background-position: -753px -252px; }
.icon-large-nails { background-position: -8px -285px; }
.icon-large-temple_hindu { background-position: -31px -284px; }
.icon-large-print { background-position: -69px -284px; }
.icon-large-globe_af { background-position: -107px -284px; }
.icon-large-posterous_spaces { background-position: -145px -284px; }
.icon-large-download_alt { background-position: -183px -284px; }
.icon-large-beach_umbrella { background-position: -221px -284px; }
.icon-large-signal { background-position: -259px -284px; }
.icon-large-wordpress { background-position: -297px -284px; }
.icon-large-life_preserver { background-position: -335px -284px; }
.icon-large-settings { background-position: -373px -284px; }
.icon-large-amazon { background-position: -411px -284px; }
.icon-large-tumblr { background-position: -449px -284px; }
.icon-large-eye_open { background-position: -491px -281px; }
.icon-large-vimeo { background-position: -525px -284px; }
.icon-large-table_tennis { background-position: -563px -284px; }
.icon-large-flickr { background-position: -601px -284px; }
.icon-large-bowling { background-position: -639px -284px; }
.icon-large-last_fm { background-position: -677px -284px; }
.icon-large-headphones { background-position: -715px -284px; }
.icon-large-sun { background-position: -753px -284px; }
.icon-large-zootool { background-position: -7px -316px; }
.icon-large-magic { background-position: -31px -316px; }
.icon-large-dribbble { background-position: -69px -316px; }
.icon-large-film { background-position: -106px -317px; }
.icon-large-deviantart { background-position: -145px -316px; }
.icon-large-user_remove { background-position: -184px -315px; }
.icon-large-read_it_later { background-position: -221px -316px; }
.icon-large-bank { background-position: -259px -316px; }
.icon-large-dashboard { background-position: -297px -316px; }
.icon-large-pinterest { background-position: -335px -316px; }
.icon-large-bell { background-position: -373px -316px; }
.icon-large-dropbox { background-position: -411px -316px; }
.icon-large-clock { background-position: -449px -316px; }
.icon-large-spade { background-position: -487px -316px; }
.icon-large-iphone_shake { background-position: -525px -316px; }
.icon-large-buoy { background-position: -563px -316px; }
.icon-large-tag { background-position: -601px -316px; }
.icon-large-google_plus { background-position: -639px -316px; }
.icon-large-compass { background-position: -677px -316px; }
.icon-large-pool { background-position: -715px -316px; }
.icon-large-rabbit { background-position: -754px -315px; }
.icon-large-barcode { background-position: -7px -348px; }
.icon-large-linked_in { background-position: -31px -348px; }
.icon-large-jolicloud { background-position: -69px -348px; }
.icon-large-globe { background-position: -107px -348px; }
.icon-large-qrcode { background-position: -145px -348px; }
.icon-large-imac { background-position: -184px -347px; }
.icon-large-blogger { background-position: -221px -348px; }
.icon-large-security_camera { background-position: -259px -348px; }
.icon-large-boat { background-position: -297px -348px; }
.icon-large-fullscreen { background-position: -335px -348px; }
.icon-large-car { background-position: -374px -347px; }
.icon-large-new_window { background-position: -412px -347px; }
.icon-large-skype { background-position: -449px -348px; }
.icon-large-vases { background-position: -487px -348px; }
.icon-large-yahoo { background-position: -525px -348px; }
.icon-large-vector_path_square { background-position: -563px -348px; }
.icon-large-picasa { background-position: -601px -348px; }
.icon-large-rss { background-position: -639px -348px; }
.icon-large-glass { background-position: -677px -348px; }
.icon-large-pinboard { background-position: -715px -348px; }
.icon-large-e_mail { background-position: -753px -348px; }
.icon-large-fire { background-position: -8px -381px; }
.icon-large-unlock { background-position: -30px -381px; }
.icon-large-kettle { background-position: -69px -380px; }
.icon-large-file_export { background-position: -107px -380px; }
.icon-large-lock { background-position: -144px -381px; }
.icon-large-adjust_alt { background-position: -183px -380px; }
.icon-large-brush { background-position: -222px -379px; }
.icon-large-leather { background-position: -259px -380px; }
.icon-large-notes_2 { background-position: -295px -382px; }
.icon-large-piano { background-position: -335px -380px; }
.icon-large-inbox { background-position: -373px -380px; }
.icon-large-drink { background-position: -411px -380px; }
.icon-large-rugby { background-position: -449px -380px; }
.icon-large-beer { background-position: -487px -380px; }
.icon-large-old_man { background-position: -525px -380px; }
.icon-large-cloud_upload { background-position: -565px -378px; }
.icon-large-luggage { background-position: -599px -382px; }
.icon-large-calendar { background-position: -639px -380px; }
.icon-large-flag { background-position: -676px -381px; }
.icon-large-comments { background-position: -715px -380px; }
.icon-large-more_windows { background-position: -753px -380px; }
.icon-large-text_width { background-position: -8px -412px; }
.icon-large-skull { background-position: -30px -412px; }
.icon-large-left_indent { background-position: -69px -411px; }
.icon-large-right_indent { background-position: -107px -411px; }
.icon-large-keyboard_wireless { background-position: -147px -410px; }
.icon-large-book_open { background-position: -183px -411px; }
.icon-large-file_import { background-position: -220px -412px; }
.icon-large-heart { background-position: -259px -411px; }
.icon-large-bug { background-position: -296px -412px; }
.icon-large-vcard { background-position: -334px -412px; }
.icon-large-shield { background-position: -372px -412px; }
.icon-large-pen { background-position: -411px -412px; }
.icon-large-adress_book { background-position: -448px -412px; }
.icon-large-camera { background-position: -488px -410px; }
.icon-large-log_book { background-position: -524px -412px; }
.icon-large-electrical_socket_us { background-position: -563px -412px; }
.icon-large-cup { background-position: -600px -412px; }
.icon-large-electrical_socket_eu { background-position: -639px -412px; }
.icon-large-train { background-position: -675px -413px; }
.icon-large-heart_empty { background-position: -715px -411px; }
.icon-large-lightbulb { background-position: -751px -413px; }
.icon-large-suitcase { background-position: -7px -443px; }
.icon-large-power { background-position: -30px -444px; }
.icon-large-nameplate_alt { background-position: -69px -443px; }
.icon-large-cake { background-position: -106px -444px; }
.icon-large-albums { background-position: -147px -441px; }
.icon-large-hand_down { background-position: -181px -446px; }
.icon-large-text_bigger { background-position: -221px -443px; }
.icon-large-camera_small { background-position: -258px -444px; }
.icon-large-book { background-position: -296px -444px; }
.icon-large-gamepad { background-position: -337px -442px; }
.icon-large-music { background-position: -372px -445px; }
.icon-large-pushpin { background-position: -411px -444px; }
.icon-large-tree_deciduous { background-position: -447px -445px; }
.icon-large-more_items { background-position: -486px -444px; }
.icon-large-align_center { background-position: -525px -443px; }
.icon-large-align_left { background-position: -563px -443px; }
.icon-large-tree_conifer { background-position: -600px -444px; }
.icon-large-hand_left { background-position: -640px -442px; }
.icon-large-calculator { background-position: -676px -444px; }
.icon-large-edit { background-position: -715px -443px; }
.icon-large-wallet { background-position: -754px -442px; }
.icon-large-euro { background-position: -8px -476px; }
.icon-large-align_right { background-position: -31px -475px; }
.icon-large-hand_up { background-position: -67px -477px; }
.icon-large-thumbs_up { background-position: -107px -475px; }
.icon-large-moon { background-position: -144px -476px; }
.icon-large-justify { background-position: -183px -475px; }
.icon-large-ring { background-position: -220px -476px; }
.icon-large-list { background-position: -259px -475px; }
.icon-large-credit_card { background-position: -298px -474px; }
.icon-large-bullhorn { background-position: -336px -474px; }
.icon-large-notes { background-position: -371px -477px; }
.icon-large-briefcase { background-position: -411px -475px; }
.icon-large-hdd { background-position: -449px -475px; }
.icon-large-hand_right { background-position: -488px -474px; }
.icon-large-candle { background-position: -523px -477px; }
.icon-large-thumbs_down { background-position: -563px -475px; }
.icon-large-nameplate { background-position: -601px -475px; }
.icon-large-user { background-position: -639px -475px; }
.icon-large-embed { background-position: -680px -471px; }
.icon-large-flower { background-position: -713px -477px; }
.icon-large-share_alt { background-position: -752px -475px; }
.icon-large-picture { background-position: -7px -506px; }
.icon-large-coffe_cup { background-position: -32px -506px; }
.icon-large-ok_2 { background-position: -70px -506px; }
.icon-large-text_underline { background-position: -105px -508px; }
.icon-large-link { background-position: -144px -508px; }
.icon-large-cloud { background-position: -185px -505px; }
.icon-large-turtle { background-position: -223px -504px; }
.icon-large-show_thumbnails { background-position: -258px -507px; }
.icon-large-filter { background-position: -295px -508px; }
.icon-large-woman { background-position: -334px -507px; }
.icon-large-blog { background-position: -372px -508px; }
.icon-large-magnet { background-position: -410px -508px; }
.icon-large-show_big_thumbnails { background-position: -448px -507px; }
.icon-large-male { background-position: -486px -507px; }
.icon-large-girl { background-position: -524px -507px; }
.icon-large-ear_plugs { background-position: -561px -508px; }
.icon-large-webcam { background-position: -599px -508px; }
.icon-large-conversation { background-position: -640px -505px; }
.icon-large-fast_backward { background-position: -678px -505px; }
.icon-large-female { background-position: -711px -510px; }
.icon-large-macbook { background-position: -755px -504px; }
.icon-large-pants { background-position: -9px -540px; }
.icon-large-delete { background-position: -32px -537px; }
.icon-large-note { background-position: -66px -541px; }
.icon-large-usd { background-position: -104px -541px; }
.icon-large-file { background-position: -143px -540px; }
.icon-large-chat { background-position: -183px -538px; }
.icon-large-bold { background-position: -219px -540px; }
.icon-large-fast_forward { background-position: -260px -537px; }
.icon-large-retweet { background-position: -299px -536px; }
.icon-large-electrical_plug { background-position: -332px -541px; }
.icon-large-dumbbell { background-position: -374px -536px; }
.icon-large-share { background-position: -411px -537px; }
.icon-large-unshare { background-position: -449px -537px; }
.icon-large-certificate { background-position: -484px -541px; }
.icon-large-grater { background-position: -522px -540px; }
.icon-large-text_strike { background-position: -561px -539px; }
.icon-large-rewind { background-position: -601px -537px; }
.icon-large-microphone { background-position: -636px -540px; }
.icon-large-ruller { background-position: -679px -535px; }
.icon-large-gbp { background-position: -712px -540px; }
.icon-large-forward { background-position: -753px -537px; }
.icon-large-brightness_reduce { background-position: -9px -570px; }
.icon-large-facetime_video { background-position: -31px -568px; }
.icon-large-envelope { background-position: -69px -568px; }
.icon-large-check { background-position: -106px -569px; }
.icon-large-phone { background-position: -141px -573px; }
.icon-large-asterisk { background-position: -181px -570px; }
.icon-large-google_maps { background-position: -217px -572px; }
.icon-large-show_thumbnails_with_lines { background-position: -259px -568px; }
.icon-large-show_lines { background-position: -297px -568px; }
.icon-large-bookmark { background-position: -331px -572px; }
.icon-large-down_arrow { background-position: -370px -570px; }
.icon-large-flash { background-position: -406px -572px; }
.icon-large-text_smaller { background-position: -448px -568px; }
.icon-large-right_arrow { background-position: -485px -569px; }
.icon-large-italic { background-position: -520px -572px; }
.icon-large-collapse { background-position: -561px -570px; }
.icon-large-bluetooth { background-position: -596px -572px; }
.icon-large-expand { background-position: -637px -570px; }
.icon-large-iphone { background-position: -672px -572px; }
.icon-large-up_arrow { background-position: -712px -570px; }
.icon-large-collapse_top { background-position: -751px -570px; }
.icon-large-left_arrow { background-position: -9px -601px; }
.icon-large-cutlery { background-position: -26px -604px; }
.icon-large-chevron_right { background-position: -65px -603px; }
.icon-large-mute { background-position: -106px -600px; }
.icon-large-chevron_left { background-position: -141px -603px; }
.icon-large-tie { background-position: -177px -605px; }
.icon-large-ipod { background-position: -216px -603px; }
.icon-large-unchecked { background-position: -256px -601px; }
.icon-large-remove_2 { background-position: -294px -601px; }
.icon-large-electricity { background-position: -329px -604px; }
.icon-large-eject { background-position: -370px -601px; }
.icon-large-play { background-position: -407px -601px; }
.icon-large-pin { background-position: -442px -604px; }
.icon-large-divide { background-position: -484px -600px; }
.icon-large-step_backward { background-position: -520px -601px; }
.icon-large-step_forward { background-position: -558px -601px; }
.icon-large-volume_down { background-position: -597px -600px; }
.icon-large-stop { background-position: -634px -599px; }
.icon-large-more { background-position: -676px -595px; }
.icon-large-ipod_shuffle { background-position: -711px -599px; }
.icon-large-pause { background-position: -746px -600px; }