.resources {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-user-select: -moz-none;
  -ms-touch-action: none;
}
.scroller {
  resize: horizontal;
  overflow-x: hidden;
  min-width: 180px;
}

.action_bar_wrap {
  width: 100%;
  height: 32px;
  position: absolute;
  z-index: -100;
  top: 44px;
  background: rgba(0,0,0,0.025);
  border-bottom: 1px solid #eee;
}

.actions > .icon {
  height: 32px;
  width:  26px;
  display: inline-block;
  vertical-align: top;
}
.actions > button.icon {
  box-shadow: none;
  border: none;
}

.space_editor {
  #editor_container {
   /*width: 720px; */
    padding-top: 34px;
  }
}

.page-actionbar {
  #movement_listing {
    white-space: nowrap;
    right: auto !important;
    /*font-size: 0.9em;*/
  }
  #movement_listing a {
    /*padding: 3px 10px;*/
    padding-right: 15px;
    cursor: pointer;
  }
}

.general-actionbar {
  position: absolute;
  right: 0;
  top: 0;
  button.icon,
  a.icon {
    width: 32px;
    /*opacity: 0.5; &.selected, &:hover { background-color: rgba(0,0,0,0.075); }*/
  }
  ol.listlike li a.selected {
    text-decoration: none;
  }
  ol.listlike li a.selected:after {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-left: 5px;
    display: inline-block;
    background: url(/assets/icons/16x16/accept.png) no-repeat center;
    content: '';
  }
}
.space_editor {
  top: -10px;
}

.hidden, [hidden=hidden] {
  display: none;
}

#content.space_editor {
  margin-top: -10px;
}
.no-scroll {
  #pages .scroller {
    overflow-y: visible !important;
    max-height: inherit !important;
  }

  .CodeMirror {
    height: inherit !important;
  }
}

.browser {
  position: relative;
  padding: 0;
  margin: 7px 5px 0 0;
  min-width: 180px;

  ul, ol {
    /*list-style-type: none;*/
    padding: 0 0 0 15px;
    margin:  0;
  }

  li.folder {
    position: relative;

    &.general-folder {
      > ol {
        padding: 0;
        margin: 0;
      }

      > span.folder_title,
      > button[data-collapse] {
        display: none;
      }

      &.collapsed span {
        margin: 0;
      }
      &.collapsed + li.general-folder {
        margin-top: 4px; /* sorry but those 4 pixels were really bugging me */
      }

      > span {
        display: block;
        margin-bottom: 5px;
        /*font-weight: bold;*/
        /*padding: 5px 0;*/
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    > span.folder_title {
      display: block;
    }

    button[data-collapse] {
      position: absolute;
      top: -3px;
      left: -22px;
      padding: 0 5px;
      line-height: 18px;
      background: none;
      border: none;
      color: #bbb;
      display: block;
      cursor: pointer;
    }
    button[data-collapse]:before {
    /*  border-style: solid;
      border-width: 8px 4px 0 4px;
      border-color: #ddd transparent transparent transparent;*/
      content: '\002D';
    }

    button[data-collapsed]:before {
    /*
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #ddd;
    */
      content: '\002B';
    }

    button.edit_folder,
    button.delete_folder {
      right: 21px;
      padding: 0;
      border: none;
      height: 12px;
      width:  12px;
      position: absolute;
      top: 3px;
      opacity: 0.1;
      cursor: pointer;
    }

    button.edit_folder {
      background: #fff url(/assets/icons/12x12/edit.png) no-repeat center center;
    }
    button.delete_folder {
      right: 5px;
      background: #fff url(/assets/icons/12x12/delete.png) no-repeat center center;
    }

    button.edit_folder:hover,
    button.delete_folder:hover {
      opacity: 1;
    }
  } /* li.folder */


} /* browser */

