@import "helpers";

.resources {
  @include disable-selection;
}

.editor-widget,
.resources {
  margin: 0;
  /*margin-top: 5px;*/
  vertical-align: top;
  padding: 10px;
}

.resizable-content {
  width: 100%;
  display: table;
  > * { display: table-cell; }
}

.workspace {

  .actions {
    display: inline-block;

    > a {
      display: inline-block;
      line-height: 32px;
      height: 32px;
      margin: 0;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}
.resources {
  width: 180px;
  padding: 0 10px 0 0;

  .scroller {
    display: block;
    clear: both;
    max-height: 480px;
    overflow-y: auto;
    padding-left: 20px;
    margin-left: -20px;

    .browser li {
      display: block;
      width: auto;
    }
  }

  .wrapper {
    position: relative;
  }
}

/* New page & New folder link list */
.resource-actionbar {
  position: relative;

  > a.listlike:first-child {
    left: -10px;
    /*top: -1px;*/
    /*height: 33px;*/
    /*line-height: 33px;*/
    /*border-radius: 4px 4px 0 0;*/
  }

/*  ol.listlike a {
    padding: 0 5px;
  }
  ol.listlike .icon {
    height: 28px;
    vertical-align: middle;
  }*/
}

.editor-container {
  position: relative;
  min-width: 240px;
  width: 100%
}
.editor-widget {
  /*width: 720px;*/
  /*border-bottom-right-radius: 10px;*/
  display: none;
  background: transparent;
  margin-top: 50px;
  max-height: 620px;
}

.resources ul li:not([hidden]) {
  display: inline-block;
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  /*max-width: 210px;*/
  line-height: 18px;
  vertical-align: top;
  margin-bottom: 5px;
}

.editor-widget > :first-child,
.resources > :first-child {
  margin-top: 0;
}


.scroller {
  resize: horizontal;
  overflow-x: hidden;
  min-width: 180px;
}

.action_bar_wrap {
  width: 100%;
  height: 32px;
  position: absolute;
  z-index: -100;
  top: 44px;
  background: rgba(0,0,0,0.025);
  border-bottom: 1px solid #eee;
}

.actions {
  @include disable-selection;
}

.actions > .icon {
  height: 32px;
  width:  26px;
  display: inline-block;
  vertical-align: top;

  /*@include disable-selection;*/
}
.actions > button.icon {
  box-shadow: none;
  border: none;
}

.space_editor {
  .editor-container {
   /*width: 720px; */
    padding-top: 34px;
  }
}

.page-actionbar {
  position: absolute;
  top: 0;
  /*left: 0;*/
  font-size: 13px;
  letter-spacing: 2px;
  z-index: 100;
  white-space: nowrap;
  display: block;

  #movement_listing {
    white-space: nowrap;
    right: auto !important;
    /*font-size: 0.9em;*/
  }
  #movement_listing a {
    /*padding: 3px 10px;*/
    padding-right: 15px;
    cursor: pointer;
  }

  > .icon { vertical-align: middle; }


  &.with-buttons {
    > .btn {
      line-height: inherit;
      font-size: 0;
      padding: 0;

      > i.icon {
        height: 26px;
        width: 26px;
        display: inline-block;
      }
    }
  }
}

.page-finder {
  vertical-align: middle;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  top: 3px;
  display: none;
  z-index: 105;

  > input,
  > label {
    line-height: 15px;
    z-index: 2;
  }
  > label.btn:first-child {
    padding-left:   8px;
    padding-right:  8px;
    border-bottom-left-radius: 0;
  }

  input {
    /*display: none;*/
    border-bottom-right-radius: 0;
  }

  ul.typeahead.dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    left:  0 !important;
    right: 0;
    z-index: 1;
  }
}

.general-actionbar {
  position: absolute;
  right: 0;
  top: 0;
  button.icon,
  a.icon {
    width: 32px;
    /*opacity: 0.5; &.selected, &:hover { background-color: rgba(0,0,0,0.075); }*/
  }
  ol.listlike li a {
    position: relative;
  }
  ol.listlike li a.selected {
    text-decoration: none;
  }
  ol.listlike li a.selected:after {
    width: 16px;
    height: 16px;
    vertical-align: top;
    /*margin-left: 5px;*/
    display: inline-block;
    background: url(/assets/icons/16x16/accept.png) no-repeat center;
    content: '';
    position: absolute;
    right: 5px;
  }
}
.space_editor {
  top: -10px;
}

.hidden, [hidden=hidden] {
  display: none;
}

#content.space_editor {
  /*margin-top: 10px;*/
}
.no-scroll {
  #pages .scroller {
    overflow-y: visible !important;
    max-height: inherit !important;
  }

  .CodeMirror {
    height: inherit !important;
  }
}

.browser {
  position: relative;
  padding: 0;
  margin: 7px 5px 0 0;
  min-width: 180px;

  ul, ol {
    /*list-style-type: none;*/
    padding: 0 0 0 15px;
    margin:  0;
  }


  .drop-target {
    background: $low_contrast_bg;
  }

  .drag-src {
    opacity: 0.5;
  }

  li.selected:before {
    /*display: none;*/
    position: absolute;
    top: 5px;
    left: -12px;
    width: 0;
    height: 0;
    border-top:     5px solid transparent;
    border-bottom:  5px solid transparent;
    border-left:    5px solid #ddd;
    content: '  ';
  }

  li.folder {
    position: relative;
    cursor: pointer;

    &.general-folder {
      > ol {
        padding: 0;
        margin: 0;
      }

      > span.folder_title,
      > button[data-collapse] {
        display: none;
      }

      &.collapsed span {
        margin: 0;
      }
      &.collapsed + li.general-folder {
        margin-top: 4px; /* sorry but those 4 pixels were really bugging me */
      }

      > span {
        display: block;
        margin-bottom: 5px;
        /*font-weight: bold;*/
        /*padding: 5px 0;*/
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    > span.folder_title {
      display: block;
      font-weight: bold;
      margin: 5px 0;

      .selected {
        @include highlight();
        @include transition(color, 0.25s, ease, 0s);
      }

      button.icon {
        display: none;
      }

      &:hover button.icon {
        display: block;
      }


      button.edit_folder,
      button.delete_folder {
        right: 21px;
        padding: 0;
        border: none;
        height: 12px;
        width:  12px;
        position: absolute;
        top: 3px;
        opacity: 0.1;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      button.edit_folder {
        background: #fff url(/assets/icons/12x12/edit.png) no-repeat center center;
      }

      button.delete_folder {
        right: 5px;
        background: #fff url(/assets/icons/12x12/delete.png) no-repeat center center;
      }
    }

    button[data-collapse] {
      position: absolute;
      top: -3px;
      left: -22px;
      padding: 0 5px;
      line-height: 18px;
      background: none;
      border: none;
      color: #bbb;
      display: block;
      cursor: pointer;
    }
    button[data-collapse]:before {
    /*  border-style: solid;
      border-width: 8px 4px 0 4px;
      border-color: #ddd transparent transparent transparent;*/
      content: '\002D';
    }

    button[data-collapsed]:before {
    /*
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #ddd;
    */
      content: '\002B';
    }

  } /* li.folder */


} /* browser */

