<div title="Leaving a space">
  <p>Leaving the space will remove all the pages you've written in it from that space space and will return them to you.
  </p>
  <p>Are you sure you want to do this?</p>
</div>