.cm-s-neat span.cm-header { color: #D4EE5E; }

body {
  background: url(../bg.png) repeat;
  color: #F4FAD2;  
}

.header_wrap {
  background: rgba(0,0,0,0.25);
}

.action_bar_wrap {
  background: rgba(0,0,0,0.1);
}

hr {
  box-shadow: none;
}

input[type=submit],
button,
a.button {
  color: white;
  background-color: #B85C00;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#F93),color-stop(25%,#F93),to(#B85C00));
  background-image: -webkit-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -moz-linear-gradient(top,#F93,#F93 25%,#B85C00);
  background-image: -ms-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -o-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: linear-gradient(#F93,#F93 25%,#B85C00);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border: 2px solid #000;
  border-color: #C60 #C60 #AD5700;
  border-color: rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.3);
}

button:hover, 
input[type=submit]:hover,
a.button:hover {
  color: #EEE;
}

button:active,
input[type=submit]:active,
a.button:active {
  background: #FFFFF7;
  color: #312D21;
}


input[type=text],
input[type=email],
input[type=password] {
  background: none;
  border: 1px solid #615B4E;
  color: #fff;
  box-shadow: 0 0 5px 0 black inset;
  background: rgba(0,0,0,0.2);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background: none;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 320px;
}


.flash_wrap {
  background-color: rgba(0,0,0,0.10);
}
#flashes {
  background: transparent;
}

#pages hr {
  border-color: rgba(0,0,0,0.25);
}

#pages .useful_links {
  color: #F4FAD2;
}

.stuff ::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.1);
  border-color: rgba(0,0,0,0.1);
}