.header_wrap,
.guest .nav_wrap {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  box-shadow: 0 -1px 10px 0px black;
  z-index: 101;
}
header { position: relative; }
header, nav { z-index: 102; }
body {
  background: url(/images/grid-18px-masked.png) repeat-x bottom center;
}
header h1 a:visited,
header h1 a{
  letter-spacing: 5px;
  font-weight: 100;
  color: #333;
  font-family: inherit;
}
header h1 a:visited em,
header h1 a em {
  color: #333;
}
h2,
.cm-s-neat span.cm-header {
  /*color: #8FBE00;*/
  color: #7ea800;
}

.success {
  color: #333;
}

hr {
  box-shadow: none;
  border-color: #ddd;
}

input[type=submit],
button,
a.button {
  color: #312d21;
  color: white;
  background-color: #B85C00;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#F93),color-stop(25%,#F93),to(#B85C00));
  background-image: -webkit-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -moz-linear-gradient(top,#F93,#F93 25%,#B85C00);
  background-image: -ms-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -o-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: linear-gradient(#F93,#F93 25%,#B85C00);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border: 1px solid #000;
  border-color: #C60 #C60 #AD5700;
}

button:hover, 
input[type=submit]:hover,
a.button:hover {
  color: #EEE;
}

button:active,
input[type=submit]:active,
a.button:active {
  background: #FFFFF7;
  color: #312D21;
  border-color: black;
}


input[type=text],
input[type=email],
input[type=password] {
  background: none;
  border: 1px solid #ddd;
  outline: none;
  background: rgba(0,0,0,0.025);  
}

/*.flash_wrap {
  background-color: rgba(0,0,0,0.10);
}*/
/*#flashes {
  background: transparent;
}*/

#flashes {
  box-shadow: 0 0 1px 1px #fff;
}

#flashes button {
  background: #eee;
  border: none;
  top: 0;
  right: 0;
  color: #333;
  font-size: 24px;
  line-height: inherit;
  height: 100%;
}

footer {
  border-color: #ccc;
}
