h2,
.cm-s-neat span.cm-header,
.flash.notice, 
.success {
  color: #8FBE00;
}

hr {
  box-shadow: none;
  border-color: #ddd;
}

input[type=submit],
button,
a.button {
  color: #312d21;
  color: white;
  background-color: #B85C00;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#F93),color-stop(25%,#F93),to(#B85C00));
  background-image: -webkit-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -moz-linear-gradient(top,#F93,#F93 25%,#B85C00);
  background-image: -ms-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: -o-linear-gradient(#F93,#F93 25%,#B85C00);
  background-image: linear-gradient(#F93,#F93 25%,#B85C00);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border: 1px solid #000;
  border-color: #C60 #C60 #AD5700;
}

button:hover, 
input[type=submit]:hover,
a.button:hover {
  color: #EEE;
}

button:active,
input[type=submit]:active,
a.button:active {
  background: #FFFFF7;
  color: #312D21;
}


input[type=text],
input[type=email],
input[type=password] {
  background: none;
  border: 1px solid #ddd;
  outline: none;
  background: rgba(0,0,0,0.025);  
}

.flash_wrap {
  background-color: rgba(0,0,0,0.10);
}
#flashes {
  background: transparent;
}