.header_wrap,
.guest .nav_wrap,
.member header {
  background: rgb(255,255,255); /* Old browsers */
  box-shadow: 0 -1px 6px 0px black;
  z-index: 101;
}

.guest .nav_wrap {
  box-shadow: 0 -1px 4px 0px black;
}

.CodeMirror pre.CodeMirror-cursor {
  border-color: #615B4E;
}

/* -- icons -- */
.member nav > a,
.member #page_actions > a,
.member .actions > a.listlike,
.member .icon_container {
  background-repeat: no-repeat;
  /*background-position: center center;*/
  font-size: 0;
  min-width: 32px;
  padding: 0;
  vertical-align: middle;
  height: 40px;
  background-image: url("../sheet.png");
}
.member nav > a {
  height: 49px;
}
.member .icon.spaces          { background-position: -88px  -32px;}
.member .icon.help            { background-position: -56px  16px; }
.member .icon.settings        { background-position: -88px  16px; }
.member .icon.save_page       { background-position: -152px 12px; }
.member .icon.pretty_page     { background-position: -120px -36px;}
/*.member .icon.delete_page     { background-position: -24px  12px; }*/
.member .icon.share_page      { background-position: -24px  -36px;}
.member .icon.history         { background-position: -56px  -36px;}
.member .icon.move_page       { background-position: -120px 12px; }
.member .icon.editor_settings { background-position: 8px    -36px;}
.member .icon.new_page        { background-position: 4px    8px;  }
/*.member .icon.edit_folder     { background: url("../icons/16x16/edit.png") no-repeat 0 0; }*/
.member #page_actions > .icon.edit_page { background-image: url("/assets/icons/16x16/edit.png"); background-position: center center; }
.member #page_actions > .icon.delete_page { background-image: url("/assets/icons/16x16/trash.png"); background-position: center center; }
.member .icon.settings.standalone { background: url("../icons/24x24/process.png") no-repeat 0 0; }
.member .icon.settings64.standalone { background: url("../icons/48x48/process.png") no-repeat 0 0; }

.member .icon.folder {
  background: url("/assets/icons/16x16/glyphicons_144_folder_open_resized.png") no-repeat 0 2px;
}
.member .collapsed .icon.folder {
  background: url("/assets/icons/16x16/glyphicons_145_folder_plus_resized.png") no-repeat;
}

.icon.folder {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  top: 2px;
  z-index: -1;
}

a {
  /*color: #D4EE5E;*/
  color: #008cdd;
}
a:hover,
a:visited:hover,
a.selected,
.selected a,
.selected {
  /*color: #E94E77;*/
  color: #555;
  text-decoration: underline;
}

a.listlike {
  border-bottom: 2px solid rgba(0,0,0,0.35);
}
.highlighted,
#browser .selected.folder_title {
  color: #F0AD11;
}

body {
  background: url(/images/grid-18px-masked.png) repeat-x bottom center;
}

header h1 a:visited,
header h1 a {
  font-weight: 100;
  /*color: #E94E77;*/
  font-family: inherit;
}

header h1 a:visited em,
header h1 a em {
  color: #333;
}
header h1 a:hover em {
  /*color: #E94E77;*/
}
header h1 a:visited:hover,
header h1 a:hover {
  color: #333;
}

h2,
.cm-s-neat span.cm-header {
  color: #615B4E;
}

h3 {
  /*color: #4ECDC4;*/
  color: #777;
}
.success {
  color: #333;
}

hr {
  box-shadow: none;
  border-color: #ddd;
}

input[type=submit],
button,
a.button {
  color: #615B4E;
  text-shadow: 0 1px 0 white;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ddd;
  /*border-color: #C60 #C60 #AD5700;*/
  /*box-shadow: 0 0 5px 2px rgba(255,255,255,0.5) inset;*/
  border-radius: 2px;
}

button:hover,
input[type=submit]:hover,
a.button:hover {
  color: #111;
}

button:active,
input[type=submit]:active,
a.button:active {
  background: #FFFFF7;
  color: #312D21;
  border-color: #aaa;
}


input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  background: none;
  border: 1px solid #ddd;
  outline: none;
  background: rgba(0,0,0,0.025);
}


#flashes {
  box-shadow: 0 0 1px 1px #fff;
}

#flashes button {
  background: #eee;
  border: none;
  top: 0;
  right: 0;
  color: #333;
  font-size: 14px;
  line-height: inherit;
  height: 100%;
}

footer {
  border-color: #ddd;
}


.print #breadcrumbs > a.selected,
.print #breadcrumbs > a:hover,
.print #sidebar > a:hover,
.print #sidebar > a.selected {
  color: red;
}

section > .togglable { cursor: n-resize; }
section > .togglable.toggled { cursor: s-resize; }
section > .togglable:after {
  content: ' -';
  font-size: 14px;
  font-weight: normal;
  font-family: monospace, mono;
  color: #aaa;
}
section > .togglable.toggled:after {
  content: ' +';
}

header h1 a.selected { text-decoration: none; }

#status.good {
  background: #008CDD;
  color: white;
}

#editor_container { width: 720px; padding-top: 41px;}

.member .settings nav a:hover,
.member .settings nav li.selected,
.member .settings nav li.selected a {
  text-decoration: none;
}

.hint {
  color: #888;
}
#browser .folder_title button.icon {
  display: none;
}
#browser .folder_title:hover button.icon {
  display: block;
}

#movement_listing {
  white-space:nowrap;
  right: auto !important;
  font-size: 0.9em;  
}
#movement_listing a {
  padding: 3px 10px;
  cursor: pointer;
}
#browser .folder {
  /*border: 1px solid #eee;*/
}

#browser .drop-target {
  background: #f6f6f6;
  /*box-shadow: 0 0 15px 5px white inset;*/
}

button[data-collapse] {
  box-shadow: none;
  font-size: 0;
  width: 16px;
  height: 18px;
}

button[data-collapse]:before {
  z-index: -10;
  width: 0px;
  height: 0px;
  position: relative;
  top: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #ddd transparent transparent transparent;
  display: block;
  content: ' ';
}

button[data-collapsed]:before {
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent #ddd;
}

.folder_title button:hover {
  background-color: transparent;
}