<div title="Connectivity Error">
  <p>Unable to contact the server, please make sure you're connected to the Internet.</p>
  <hr />
  <p>Technical error information:</p>
  <ul>
    <li><strong>Status code:</strong> {{status}}</li>
    <li><strong>Message:</strong> {{statusText}}</li>
    {{#if exception}}
    <li><strong>Exception:</strong> {{exception}}</li>
    {{/if}}
  </ul>
</div>