<div>
  <p>Are you sure you want to remove the folder '{{{title}}}'?</p>
  {{#if nr_resources}}
    <p>This folder has {{#pluralize 'page' nr_pages}}{{/pluralize}} and {{#pluralize 'folder' nr_folders}}{{/pluralize}}.</p>
    <p><strong>WARNING<strong>: removing this folder will also remove every page and folder it contains!</p>
  {{/if}}
</div>